@font-face {
    font-family: 'NeoSansBold';
    src: url('../fonts/neosans-bold-webfont.eot');
    src: url('../fonts/neosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neosans-bold-webfont.woff') format('woff'),
         url('../fonts/neosans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a, a:visited { color:#563c7d; }
a:hover { color:#563c7d; }

a.btn { color:#333; }
a.btn { color:#333; }

.center { text-align:center; }
.right { text-align:right; }

header {
  background:url('../img/header-bg.png') top left;
  display:block;
  width:100%;
  height:250px;
  box-shadow:inset 0 -1px 0 rgba(0,0,0,0.35);
}

header h1 {
  font-family:"NeoSansBold";
  font-weight:normal;
  color:#FFF;
  letter-spacing:-5px;
  font-size:100px;
  text-shadow:0 4px 0 rgba(0,0,0,0.15);
  padding:0;
  margin:0;
  line-height:250px;
}

header .visible-tablet h1 {
  font-family:"NeoSansBold";
  font-weight:normal;
  color:#FFF;
  letter-spacing:-3px;
  font-size:60px;
  text-shadow:0 4px 0 rgba(0,0,0,0.15);
  padding:0;
  margin:0;
  line-height:250px;
}

header.visible-phone h1 {
  font-family:"NeoSansBold";
  font-weight:normal;
  color:#FFF;
  letter-spacing:-2px;
  font-size:40px;
  text-shadow:0 4px 0 rgba(0,0,0,0.15);
  padding:0;
  margin:0;
  line-height:80px;
  text-align:center;
}

header h2 {
  background:url('../img/a_bit.png') no-repeat 98% 72px;
  font-size:24px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering:optimizelegibility;
  color:#FFF;
  text-shadow:0 2px 0 rgba(0,0,0,0.15);
  font-weight:300;
  line-height:250px;
  margin:0;
  padding:0;
  position:relative;
  float:right;
}

header.visible-phone {
  height:125px;
  padding-left:20px;
  padding-right:20px;
  margin-left:-20px;
  margin-right:-20px;
}

header.visible-phone h2 {
  font-size:18px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-rendering:optimizelegibility;
  color:#FFF;
  text-shadow:0 2px 0 rgba(0,0,0,0.15);
  font-weight:300;
  line-height:1.2em;
  background:none;
  margin:0;
  padding:0;
  text-align:center;
  float:none;
}

#button-wrapper {
  background:#F7F1EE;
  width:100%;
  padding:20px 0;
  box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);
}

#button-wrapper.visible-phone {
  padding-left:20px;
  padding-right:20px;
  margin-left:-20px;
  margin-right:-20px;
}

#button-wrapper.visible-phone a {
  font-size:18px;
}

#button-wrapper a {
  border-radius:6px;
  font-size:24px;
  padding:14px 24px;
  margin:0 5px;
}

#button-wrapper a small {
  color:#999;
  font-size:16px;
}

@media (max-width: 767px) {
  #example-default,#example-dark {
    font-size:11px;
  }
}