h1, h2, h3, h4, h5, h6 {
font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif
text-transform: uppercase;
font-weight: normal;
}


p
font-family: 'Oxygen', sans-serif;