


<html>
<head>
</head>
<body>
Thank You for signing up for Startashoppe!
<br>

 
<h2>Welcome to Startashoppe</h2>
<br>

Hello,
<br>

<p>Thank you for creating your store with Startashoppe. Hope your first flight has been enjoyable so far.</p>

<br>
In case you ever forget, following are login details for your Startashoppe store: 
<br>
Store: <%= @url[0]['url_name']%>.startashoppe.com
<br>
Admin Panel: <%= @url[0]['url_name']%>.startashoppe.com/admin
<br>

Login Id: <%= @email%>
<br>
Password: <%=@password%>
<br>

<p>In a few moments you will receive a getting started guide. That should get you fueled up.

For any questions at all, please don't hesitate to email us or give us a call at +91-9999999999.

You can also go through our knowledgebase at support.startashoppe.com.
</p>
<br>
Thank You!
<br>
<br>
Startashoppe Team
<br>
<br>
<br>
info@startshoppe.com | +91-9999999999
<br>
Copyright © 2014 Metawing Technology Pvt. Ltd., All rights reserved. 
<br>
<br>

Our mailing address is:
<br> 
11A, 2nd floor,
<br>
Lane No.3, Westend Marg
<br>
Saidulajab, Saket, New Delhi-110030
<br>
INDIA


</body>
</html> -->
