

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>new theme</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link href='http://fonts.googleapis.com/css?family=Arvo:400|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>


<link rel="stylesheet" type="text/css" href="/first/css/bootstrap.css" />

<link href="/first/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="/first/css/blog.css" rel="stylesheet">

<script type="text/javascript"> 
function disableselect(e){  
return false  
}  

function reEnable(){  
return true  
}  

//if IE4+  
document.onselectstart=new Function ("return false")  
document.oncontextmenu=new Function ("return false")  
//if NS6  
if (window.sidebar){  
document.onmousedown=disableselect  
document.onclick=reEnable  
}
</script>




</head>
<body>

	<div class="main-container" id="main-container">
  <div class="main-content" style="margin-right: 20px;">
    <div class="breadcrumbs" id="breadcrumbs" style="
                    position: relative;
                    border-bottom: 1px solid #e5e5e5;
                    background-color: #563d7c;
                    min-height: 41px;
                    line-height: 40px;
                    padding: 0 12px 0 0;
                    display: block;
					width:100%;
		
                    ">
      <script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>
      <ul class="breadcrumb" style="background-color: transparent;
                        display: inline-block;
                        line-height: 24px;
                        margin: 0 22px 0 12px;
                        padding: 0;
                        font-size: 22px;
                        color: #333;
                        border-radius: 0;">
       <li>
								<i class="icon-home home-icon" style="color:white"></i>
								<a href="/first/start" style="color:white">Home</a>
							</li>
                           
                            <li style="color:white">>></li>
        <li class="active">Blog</li>
      </ul>
      <!-- .breadcrumb -->
    </div>
	
	<div class="inner_content" style="margin-left:2%">
		<h1>Our Blog</h1>
			<div class="pad30"></div>		
		<div class="row">
			<div class="span9">
			<div class="post">
			<div class="row">
	
			<div class="span9"> 
			<div class="date-post">
				<span class="day hue">23</span>
				<span class="month">MAR</span>
			</div>
			
				<img src="/first/img/slide1.jpg" alt=""></a>
				
			<h2 class="title-divider span9 post_link pad15"><strong>Donec iaculis metus vitae ligula </strong><span></span></h2>
			
			<div class="clear"></div>
		
		
			<div class="post-meta">
				<ul>
					<li>Posted by admin <span class="muted">/</span></li>
					<li><i class="icon-calendar normal muted"></i> 23rd March 2013 /</li>
					<li><i class="icon-bullhorn normal muted"></i> <a href="">web</a>, <a href="">art</a> /</li>
					<li><i class="icon-comment-alt muted"></i><a href="">16 comments</a></li>
				</ul>
			  </div>
			<!--end meta--> 
   
		<p>Enim ultrices, elementum phasellus. Mauris sed nulla sed, egestas feugiat a dictum libero, nunc sapien tri tique facilisis venenatis risus, 
		suspendisse ac nec et. Nulla sed mauris, congue duis proin nonummy adipiscing vitae  Mauris sed nulla sed, 
		egestas feugiat a dictum libero, nunc sapien tristique facilisis venenatis risus &#8230;</p>
		
		<p><a href="blog.html" class="more-link">Continue reading &rarr;</a></p>
		</div>
            </div> 
				</div>
				<!--end post-->

           <div class="post">
			<div class="row">
			<div class="span9 pad15"> 
			<div class="date-post"><span class="day hue">07</span><span class="month">FEB</span></div>
				<img src="/first/img/slide2.jpg" alt=""></a>

		<h2 class="title-divider span7 post_link pad15"><strong>Aliquam Convallis Erat A Enim  </strong><span></span></h2>
		<div class="clear"></div>
		
		<div class="post-meta">
			<ul>
				<li>Posted by admin <span class="muted">/</span></li>
				<li><i class="icon-calendar normal muted"></i> 7th Feb 2013 /</li>
				<li><i class="icon-bullhorn normal muted"></i> <a href="">themes</a>, <a href="">photoshop</a> /</li>
				<li><i class="icon-comment-alt muted"></i><a href="">124 comments</a></li>
				</ul>
			  </div><!--end meta--> 
   
		<p>Enim ultrices, elementum phasellus. Mauris sed nulla sed, egestas feugiat a dictum libero, nunc sapien tri tique facilisis venenatis risus, 
		suspendisse ac nec et. Nulla sed mauris, congue duis proin nonummy adipiscing vitae  Mauris sed nulla sed, 
		egestas feugiat a dictum libero, nunc sapien tristique facilisis venenatis risus &#8230;</p>
		
		<p><a href="blog.html" class="more-link">Continue reading &rarr;</a></p>
		</div>
            </div>
			 </div>
				<!--end post-->

            <div class="post">
			<div class="row">
            	<div class="span9 pad15">
				<div class="date-post"><span class="day hue">12</span><span class="month">JAN</span></div>
				<img src="/first/img/slide2.jpg" alt=""></a>

					<h2 class="title-divider span7 post_link"><strong>Dictum Gravida Nulla  Facilisis Venenatis</strong><span></span></h2>
					<div class="clear"></div>
					
				<div class="post-meta">
					<ul>
						<li>Posted by admin <span class="muted">/</span></li>
						<li><i class="icon-calendar normal muted"></i> 15th Jan 2013 /</li>
						<li><i class="icon-bullhorn normal muted"></i> <a href="">video</a>, <a href="">design news</a> /</li>
						<li><i class="icon-comment-alt muted"></i><a href="">96 comments</a></li>
					</ul>
				</div>
				<!--end meta--> 
				
				<p>Enim ultrices, elementum phasellus. Mauris sed nulla sed, egestas feugiat a dictum libero, nunc sapien tri tique facilisis venenatis risus,
				suspendisse ac nec et. Nulla sed mauris, congue duis proin nonummy adipiscing vitae  Mauris sed nulla sed, egestas feugiat a dictum libero, nunc sapien 
				tristique facilisis venenatis risus &#8230;</p>
				
				<p><a href="blog.html" class="more-link">Continue reading &rarr;</a></p>
				<!--end post-->
            
			<!--pagination-->
			<ul class="pager pad25">
				<li class="previous"><a href="#">&larr; Older</a></li>
				<li class="next"><a href="#">Newer &rarr;</a></li>
				</ul>
				</div>
					</div>
					<!--end post-->
					</div><!--end-->
                    </div>

           <!--sidebar-->
			<div class="span3">
			<!--search-->
			 <div class="input-append"> 
				<input class="span2" style="height: 1.5em; border: 1px solid #cccccc;" type="text" placeholder="search">
				<span class="add-on">
				<a href="#"><i class="icon-search"></i></a>
				</span>
			</div>
			
			<div class="pad15 "></div>
			<h6 class="title-divider span3"><strong>Social</strong>  Widget<span></span></h6>
			<p>Morbi blandit ultricies ultrices ivam us nec lectus sed orci voluptua oportere molestie.</p>
			<p>
			<a href="#"><i class=" icon-twitter icon-2x"  style="padding-right: 2%;"></i></a> 
			<a href="#"><i class=" icon-facebook  icon-2x" style="padding-right: 2%;"></i></a>
			<a href="#"><i class=" icon-rss  icon-2x" style="padding-right: 2%;"></i></a>
			<a href="#"><i class=" icon-dribbble icon-2x" style="padding-right: 2%;"></i></a>
			<a href="#"><i class=" icon-pinterest icon-2x" style="padding-right: 2%;"></i></a> 
			<a href="#"><i class=" icon-linkedin icon-2x" style="padding-right: 2%;"></i></a> 
			</p>
			
			<div class="pad15"></div>
					
			<h6 class="title-divider span3"><strong>Blog</strong> Categories<span></span></h6>
			<div class="clear"></div>
			<ul class="icons " style="list-style:none">
				<li><i class=" icon-caret-right"></i><a class="categ" href="#">Design News</a></li>
				<li><i class=" icon-caret-right"></i><a class="categ" href="#">Typography</a></li>
				<li><i class=" icon-caret-right"></i><a class="categ" href="#">Premium Themes</a></li>
			</ul>
			
			<div class="pad30"></div>
				
				<div class="clear"></div>
				 
	
		<div class="pad30"></div>
		<div class="tabbable tabs-top">
		<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Popular</a></li>
				<li><a href="#tab2" data-toggle="tab">Recent</a></li>
		  </ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="tab1">
					<ul class="media-list">
							<li class="media">
								<img class=" pull-left" src="/first/img/blog.jpg" alt="">
								<div class="media-body">
								<small>07/02/13</small><br>
								<a href="#">Aliquam convallis erat a enim dictum gravida nulla</a></div>
							</li>
							
							<li class="media">
								<img class=" pull-left" src="/first/img/blog.jpg" alt="">
								<div class="media-body">
								<small>23/01/13</small><br>
								<a href="#">Aliquam convallis erat a enim dictum gravida nulla</a></div>
							</li>
							
							<li class="media">
								<img class=" pull-left" src="/first/img/blog.jpg" alt="">
								<div class="media-body">
								<small>31/12/12</small><br>
								<a href="#">Aliquam convallis erat a enim dictum gravida nulla</a></div>
							</li>
					  </ul>
				  </div>
						
						<div class="tab-pane fade" id="tab2">
					<ul class="media-list">
							<li class="media">
								<img class=" pull-left" src="/first/img/blog.jpg" alt="">
								<div class="media-body">
								<small>07/02/13</small><br>
								<a href="#">Aliquam convallis erat a enim dictum gravida nulla</a></div>
							</li>
							
							<li class="media">
								<img class=" pull-left" src="/first/img/blog.jpg" alt="">
								<div class="media-body">
								<small>23/01/13</small><br>
								<a href="#">Aliquam convallis erat a enim dictum gravida nulla</a></div>
							</li>
							
							<li class="media">
								<img class=" pull-left" src="/first/img/blog.jpg" alt="">
								<div class="media-body">
								<small>31/12/12</small><br>
								<a href="#">Aliquam convallis erat a enim dictum gravida nulla</a></div>
							</li>
						  </ul>
						</div>
						
						
		  </div> 
				<div class="pad45"></div>
			</div>
		</div>
	</div>
		</div>
			</div>
			<!--end-->
			
<footer class="main contact ">
<div class="copyright clearfix">
      <div class="container">
        <div class="pull-left">
          <p>startashoppe</p>
        </div>
        <!-- /.pull-left -->
        <div class="pull-right">
          <nav class="footer">
            <ul class="inline clearfix">
              <li><a href="about.html" style="color:white;">About us</a></li>
              <li><a href="terms.html" style="color:white;">Terms and Services</a></li>
              <li><a href="faq.html" style="color:white;">FAQs</a></li>
            </ul>
          </nav>
          <!-- /nav.footer -->
        </div>
        <!-- /.pull-right -->
      </div>
      <!-- /.container -->
    </div>
 </footer>

<script type="text/javascript" src="/first/js/jquery.js"></script>
<script type="text/javascript" src="/first/js/bootstrap.js"></script>
</body>
</html>
