
<%if @theme =="theme_2"%>
<!DOCTYPE html>

<html lang="en-US"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>UnoSlider | Maya Shop</title>          
    
    <link rel="stylesheet" type="text/css" media="all" href="/theme1/css/style.css">
    <link rel="pingback" href="#">                              
	

	<link rel="stylesheet" type="text/css" media="screen and (max-width: 960px)" href="/theme1/css/lessthen960.css">
	<link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="/theme1/css/lessthen600.css">
	<link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="/theme1/css/lessthen480.css">
	    
    

    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <link rel="icon" type="image/x-icon" href="#">
    <!-- [favicon] end -->  


<script type="text/javascript"> 
function disableselect(e){  
return false  
}  

function reEnable(){  
return true  
}  

//if IE4+  
document.onselectstart=new Function ("return false")  
document.oncontextmenu=new Function ("return false")  
//if NS6  
if (window.sidebar){  
document.onmousedown=disableselect  
document.onclick=reEnable  
}
</script>


    
                <style>
                h1, h2, h3, h4, h5, h6 {
font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif
text-transform: uppercase;
font-weight: normal;
}
                            </style>
            <script type="text/javascript">
            var yith_wcwl_plugin_ajax_web_url = '#';
            var login_redirect_url= '#';
            </script>
            <link rel="alternate" type="application/rss+xml" title="Maya Shop » Feed" href="#">
<link rel="alternate" type="application/rss+xml" title="Maya Shop » Comments Feed" href="#">
<link rel="alternate" type="application/rss+xml" title="Maya Shop » UnoSlider Comments Feed" href="#">
<link rel="stylesheet" id="woocommerce_frontend_styles-css" href="/theme1/css/style(1).css" type="text/css" media="all">
<link rel="stylesheet" id="thickbox-css" href="/theme1/css/thickbox.css" type="text/css" media="all">
<link rel="stylesheet" id="eMember.style-css" href="/theme1/css/eMember_style.css" type="text/css" media="all">
<link rel="stylesheet" id="eMember.style.custom-css" href="/theme1/css/eMember_custom_style.css" type="text/css" media="all">
<link rel="stylesheet" id="validationEngine.jquery-css" href="/theme1/css/validationEngine.jquery.css" type="text/css" media="all">
<link rel="stylesheet" id="jquery.fileuploader-css" href="/theme1/css/jquery.fileuploader.css" type="text/css" media="all">
<link rel="stylesheet" id="jquery-ui-style-css" href="/theme1/css/jquery-ui.css" type="text/css" media="all">
<link rel="stylesheet" id="pacifico-font-css" href="/theme1/css/css" type="text/css" media="all">
<link rel="stylesheet" id="rokkitt-font-css" href="/theme1/css/css(1)" type="text/css" media="all">
<link rel="stylesheet" id="shadows-into-light-font-css" href="/theme1/css/css(2)" type="text/css" media="all">
<link rel="stylesheet" id="prettyPhoto-css" href="/theme1/css/prettyPhoto.css" type="text/css" media="all">
<link rel="stylesheet" id="tipsy-css" href="/theme1/css/tipsy.css" type="text/css" media="all">
<link rel="stylesheet" id="flexslider-css" href="/theme1/css/flexslider.css" type="text/css" media="all">
<link rel="stylesheet" id="slider-unoslider-css" href="/theme1/css/slider-unoslider.css" type="text/css" media="all">
<link rel="stylesheet" id="slider-unoslider--css" href="/theme1/css/theme.css" type="text/css" media="all">
<link rel="stylesheet" id="custom-css-css" href="/theme1/css/custom.css" type="text/css" media="all">
<link rel="stylesheet" id="layerslider_css-css" href="/theme1/css/layerslider.css" type="text/css" media="all">
<link rel="stylesheet" id="yith-wcwl-main-css" href="/theme1/css/style(2).css" type="text/css" media="all">
<link rel="stylesheet" id="style-changer-css" href="/theme1/css/picker.css" type="text/css" media="all">

<script type="text/javascript">      
    var     yiw_slider_type = 'unoslider',
            yiw_slider_unoslider_theme               = 'light',
            yiw_slider_unoslider_responsive          = true, 
            yiw_slider_unoslider_width               = 948, 
            yiw_slider_unoslider_height              = 350, 
            yiw_slider_unoslider_indicator           = { autohide: true }, 
            yiw_slider_unoslider_navigation          = { autohide: true, prev: 'Prev', next: 'Next', play: 'Play', stop: 'Stop' }, 
            yiw_slider_unoslider_slideshow           = { autostart: true, speed: 4, timer: true, hoverPause: true, continuous: true, infinite: true }, 
            yiw_slider_unoslider_interval            = 4,
            yiw_slider_unoslider_block               = { vertical: 10, horizontal: 4 }, 
            yiw_slider_unoslider_preset              = ["chess","flash","spiral_reversed","spiral","sq_appear","sq_flyoff","sq_drop","sq_squeeze","sq_random","sq_diagonal_rev","sq_diagonal","sq_fade_random","sq_fade_diagonal_rev","sq_fade_diagonal","explode","implode","fountain","blind_bottom","blind_top","blind_right","blind_left","shot_right","shot_left","alternate_vertical","alternate_horizontal","zipper_right","zipper_left","bar_slide_random","bar_slide_bottomright","bar_slide_topright","bar_slide_topleft","bar_fade_bottom","bar_fade_top","bar_fade_right","bar_fade_left","bar_fade_random","v_slide_top","h_slide_right","v_slide_bottom","h_slide_left","stretch","squeez","fade"], 
            yiw_slider_unoslider_animation           = { speed : 500, delay : 50 };
</script>
    <script type="text/javascript">
    var yiw_prettyphoto_style = 'pp_default';
</script>
    <script type="text/javascript">      
    var     yiw_product_slider_interval = 6;</script>
    <script type="text/javascript" src="/theme1/js/jquery.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.external.lib.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.lightbox-0.5.pack.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.fileuploader.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.hint.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.tools18.min.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.libs.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.pagination-2.0rc.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.confirm-1.3.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.tipsy.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.tweetable.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.cycle.min.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.mobilemenu.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.flexslider.min.js"></script>
<script type="text/javascript" src="/theme1/js/unoslider.js"></script>
<script type="text/javascript" src="/theme1/js/comment-reply.min.js"></script>
<script type="text/javascript" src="/theme1/js/layerslider.kreaturamedia.jquery.js"></script>
<script type="text/javascript" src="/theme1/js/jquery-easing-1.3.js"></script>
<script type="text/javascript" src="/theme1/js/jquerytransit.js"></script>
<script type="text/javascript" src="/theme1/js/layerslider.transitions.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/theme1/js/colorpicker.js"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="#">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="#"> 
<link rel="prev" title="Layers Slider" href="#">
<link rel="next" title="Elegant Slider" href="#">
<meta name="generator" content="WordPress 3.5.1">
<link rel="canonical" href="#">
<link type="text/css" rel="stylesheet" href="/theme1/css/affiliate_platform_style.css">
<link type="text/css" rel="stylesheet" href="/theme1/css/wp_eStore_style.css">
<link type="text/css" rel="stylesheet" href="/theme1/css/wp_eStore_custom_style.css">
<script type="text/javascript">
	JS_WP_ESTORE_CURRENCY_SYMBOL = "$";
	JS_WP_ESTORE_VARIATION_ADD_STRING = "+";
	JS_WP_ESTORE_VARIATION_THOUSAND_SEPERATOR = ",";
	JS_WP_ESTORE_MINIMUM_PRICE_YOU_CAN_ENTER = "The minimum amount you can specify is ";
	</script><script type="text/javascript" src="/theme1/js/eStore_read_form.js"></script><script type="text/javascript">
/* <![CDATA[ */
jQuery(document).ready(function($){
  
    emember_forget_pass_trigger = '';    
    $forgot_pass_overlay = $(".forgot_pass_link").click(function(e){
        $("#wp_emember_email_mailMsg").html("").hide();
        $("#wp_emember_email_mailForm").show();   
        $('.eMember_text_input').val("");     
        }).overlay({
        mask: {
            color: '#ebecff'/*'darkred'*//*'#E7E7E7'*/,
            loadSpeed: 200,
            top: '30%',
            opacity: 0.9
        },
        api:true,
        onBeforeLoad:function(){
            emember_forget_pass_trigger = this.getTrigger();
        },    
        closeOnClick: false
    });
            
    $("#wp_emember_mailSendForm").live('submit',function(e){
       var $this = this;
       var divs = jQuery($this).parent().parent().find("div");
       var emailId = jQuery($this).find("input").eq(0).val();
       if(emailId=="")
          return;
       divs.eq(1).hide();
       divs.eq(0).html("").append(jQuery('<h3>Please Wait...</h3>')).show();
       var params = {"event":"send_mail","action":"send_mail","email":emailId,"_ajax_nonce":"4c9734458f"}
       jQuery.get( '#',params,               
             function(data){
                 divs.eq(0).html("").append(jQuery('<h3>'+data.msg+'</h3>'));  
                 setTimeout("emember_forget_pass_trigger.overlay().close()", 1000);                                  
             },
       "json");
       e.preventDefault();
    });
    
    
    function get_redirect_url($redirects){
            
        var $after_login_page = '';
        if ($redirects.own) return $redirects.own;
        if ($redirects.level) return $redirects.level;
        if ($after_login_page) return $after_login_page;
        return '';  
    }
});
/* ]]> */
</script>

<!--Plugin WP Overview (lite) MU 2010.0821.1539-MU Active-->    <script type="text/javascript">
    jQuery(document).ready(function($){   
        $('body').bind('added_to_cart', function(){
            $('.add_to_cart_button.added').text('ADDED');
        });               
    });
    </script>
    

<!-- WooCommerce Version -->
<meta name="generator" content="WooCommerce 1.6.6">

<style type="text/css">#logo a.logo-text { color:#141414; }
.hentry h1 a, .hentry h2 a, .blog-big .meta a, .blog-small .meta a { color:#000000; }
#primary p, #sidebar .recent-post a.title, .slider-minilayers-static p, .home_items, #primary li, .testimonial-widget blockquote p, #sidebar .icon-text p, .features-tab-content p, .products li .price, .products.ribbon li .below-thumb, .contact-form span.label address, dd, blockquote { font-size:13px; }
h3 { font-size:13px; }
.hentry .meta .author, .hentry .meta .date, .hentry .meta .categories, .hentry .comments, .hentry .meta .author span, .hentry .meta .date span, .hentry .meta .categories span, .hentry .comments span, .hentry .meta .author a, .hentry .meta .date a, .hentry .meta .categories a, .hentry .comments a, .hentry .blog-elegant-socials p, .hentry .socials { font-size:11px !important; }
#logo .logo-description {font-size: 15px;}	.shop-traditional .products li { width:164px !important; }
	//.shop-traditional .products li img { width:150px !important; }
	.shop-ribbon .products li { width:155px !important; }
    .shop-ribbon .products li.category { width: auto !important; }
	.products li a strong { width:120px !important; }
	/*..shop-traditional .products li a img { width:150px !important; }  removed for the category images */
	div.product div.images { width:71.3888888889%; }
	.layout-sidebar-no div.product div.images { width:53.5416666667%; }
	div.product div.images img { width:500px; }
	.layout-sidebar-no div.product div.summary { width:44.375%; }
	.layout-sidebar-right div.product div.summary, .layout-sidebar-left div.product div.summary { width:25.8333333333%; }
	.layout-sidebar-no .product.hentry > span.onsale { right:436px; left:auto; }
	.layout-sidebar-right .product.hentry > span.onsale, .layout-sidebar-left .product.hentry > span.onsale { right:196px; left:auto; }     
	.ei-slider {height:338px;}
body, .stretched-layout .wrapper {
    background:#fff;}
#header { background:; }    .wrapper-content { width:700px; }
    #portfolio li img, #portfolio li .thumb,  { width:280px;height:143px; }.portfolio-slider li a img, .portfolio-slider li a, .portfolio-slider li { width:205px;height:118px; }#portfolio-bigimage img { width:617px;height:295px; }.gallery-wrap li img, .gallery-wrap .internal_page_item { width:208px;height:168px; }#logo a.logo-text { font-family: 'Pacifico', sans-serif !important; }
#logo .logo-description { font-family: 'Rokkitt', sans-serif !important; }
#nav > ul > li > a, #nav .menu > ul > li > a { font-family: 'Rokkitt', sans-serif !important; }
#nav ul.children li a, #nav ul.sub-menu li a { font-family: 'Rokkitt', sans-serif !important; }
h1, h1 a { font-family: 'Rokkitt', sans-serif !important; }
h2, h2 a { font-family: 'Rokkitt', sans-serif !important; }
h3, h3 a { font-family: 'Rokkitt', sans-serif !important; }
h4, h4 a { font-family: 'Rokkitt', sans-serif !important; }
h5, h5 a { font-family: 'Rokkitt', sans-serif !important; }
h6, h6 a { font-family: 'Rokkitt', sans-serif !important; }
#slider .slider-nivo-static h3, .slider-minilayers-static h3 { font-family: 'Rokkitt', sans-serif !important; }
#slider .slider-nivo-static h3 span, .slider-minilayers-static h3 span { font-family: 'Rokkitt', sans-serif !important; }
#slogan h2 { font-family: 'Rokkitt', sans-serif !important; }
#slogan h3 { font-family: 'Rokkitt', sans-serif !important; }
#sidebar .widget h2, #sidebar .widget h3, #footer .widget h2, #footer .widget h3 { font-family: 'Rokkitt', sans-serif !important; }
.testimonial .testimonial-name a.name, .testimonial-name span.name, #primary .testimonials-slider ul li a { font-family: 'Rokkitt', sans-serif !important; }
#vacation, #vacation p, #vacation li, #vacation p a { font-family: 'Rokkitt', sans-serif !important; }
.special-font, .call-to-action-two .special-font, .call-to-action-two .special-font span { font-family: 'Shadows Into Light', sans-serif !important; }
#content li, #content li a, address, p, p a, .unoslider_caption, .comment-body, .comment-body p, #comments .fn, .cart span, .shop_table span, .shop_table th, .shop_table td, #respond #submit, .shop-ribbon .products li:hover .below-thumb, .products li a strong.below-thumb, .products.ribbon .below-thumb { font-family: 'Calibri', sans-serif !important; }
#slider .slider-nivo-static p, .slider-minilayers-static p { font-family: 'Calibri', sans-serif !important; }
#slider .slider-nivo-static p { font-family: 'Calibri', sans-serif !important; }
</style>
<script type="text/javascript" src="/theme1/js/fs.js"></script><script src="/theme1/js/w.js" type="text/javascript"></script></head>

<body class="page page-id-91 page-child parent-pageid-12 page-template-default responsive not-logged-in shop-ribbon stretched-layout chrome theme-mayashop google-font-pacifico google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-rokkitt google-font-shadows-into-light yes_js"><div style="position: absolute;"><object id="_GPL_swf" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="1" height="1"><param name="movie" value="http://cdncache-a.akamaihd.net/items/it/swf/f.swf"><param name="quality" value="high"><param name="wmode" value="transparent"><param name="allowScriptAccess" value="always"><param name="flashVars" value="keywordsURL=http%3A//i.trkjmp.com/kwd%3Fc%3DOjo6eW91cmluc3BpcmF0aW9ud2ViLmNvbTp6LTEwNjMtMTUyMjQ%253D%26cb%3D_GPL.items.a652c.displayKeywords&amp;keywords=nuovo%20podcast%7Cmettere%20in%20pratica%7Cregole%20per%20trasformare%7Csapere%20in%20saper%20fare%7C2013%7Cstendhal%7Cand%20clean%7Crendite%20passive%20per%20web%20designer%20freelance%7Cvia%7Ccome%20trasformare%7Ctuo%20curriculum%20in%7Cpotente%20strumento%7Cmarketing%20personale%7Csamarcanda%7Ctemplate%7Cdifferente%7Cgratuito%7Ca%20complete%20e-commerce%20solution%20for%20wordpress%7Cdiscovery%20the%20summer%20collection%7Cbag%20sport%20collection%7Cred%7Ccolor%20of%20sensuality%7Calready%20given%20a%205-star%20rating%7Cbut%7Calso%20wanted%20to%20provide%20my%20two%20cents%20in%20case%20anyone%7Cunsure%20about%20purchasing%20this%20theme%7Cnot%20only%7Cthe%20theme%20itself%20very%20versatile%20and%20easy%20to%20manipulate%7Cbut%20the%20support%20we%20get%20in%20the%20forum%7Camazing%7Cif%20you%20spend%20more%20about%7Con%20maya%20shop%7Cthe%20shippings%20are%20free%20in%20all%20usa%20countries%7Capril%7C2012%7Cmarch%7Cfrom%7Ccopyright%7Cdesigned%20by%7Cplease%20enter%20your%20e-mail%20address%7Cyou%20will%20receive%20a%20new%20password%20via%20e-mail%7Clayout%20theme%7Cheadings%7Cgoogle%20font%7Ccontent%20font"><!--[if !IE]> <--> <object id="_GPL_swf" data="http://cdncache-a.akamaihd.net/items/it/swf/f.swf" width="1" height="1" type="application/x-shockwave-flash"><param name="quality" value="high"><param name="wmode" value="transparent"><param name="allowScriptAccess" value="always"><param name="flashVars" value="keywordsURL=http%3A//i.trkjmp.com/kwd%3Fc%3DOjo6eW91cmluc3BpcmF0aW9ud2ViLmNvbTp6LTEwNjMtMTUyMjQ%253D%26cb%3D_GPL.items.a652c.displayKeywords&amp;keywords=nuovo%20podcast%7Cmettere%20in%20pratica%7Cregole%20per%20trasformare%7Csapere%20in%20saper%20fare%7C2013%7Cstendhal%7Cand%20clean%7Crendite%20passive%20per%20web%20designer%20freelance%7Cvia%7Ccome%20trasformare%7Ctuo%20curriculum%20in%7Cpotente%20strumento%7Cmarketing%20personale%7Csamarcanda%7Ctemplate%7Cdifferente%7Cgratuito%7Ca%20complete%20e-commerce%20solution%20for%20wordpress%7Cdiscovery%20the%20summer%20collection%7Cbag%20sport%20collection%7Cred%7Ccolor%20of%20sensuality%7Calready%20given%20a%205-star%20rating%7Cbut%7Calso%20wanted%20to%20provide%20my%20two%20cents%20in%20case%20anyone%7Cunsure%20about%20purchasing%20this%20theme%7Cnot%20only%7Cthe%20theme%20itself%20very%20versatile%20and%20easy%20to%20manipulate%7Cbut%20the%20support%20we%20get%20in%20the%20forum%7Camazing%7Cif%20you%20spend%20more%20about%7Con%20maya%20shop%7Cthe%20shippings%20are%20free%20in%20all%20usa%20countries%7Capril%7C2012%7Cmarch%7Cfrom%7Ccopyright%7Cdesigned%20by%7Cplease%20enter%20your%20e-mail%20address%7Cyou%20will%20receive%20a%20new%20password%20via%20e-mail%7Clayout%20theme%7Cheadings%7Cgoogle%20font%7Ccontent%20font"></object> <!----> <!--[endif]----> </object></div><div style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; z-index: 2147483647;" id="_GPL_e6a00_parent_div"><object type="application/x-shockwave-flash" id="_GPL_e6a00_swf" data="http://cdncache-a.akamaihd.net/items/e6a00/storage.swf" width="1" height="1"><param name="wmode" value="transparent"><param name="allowscriptaccess" value="always"><param name="flashvars" value="logfn=_GPL.items.e6a00.log&amp;onload=_GPL.items.e6a00.onload&amp;onerror=_GPL.items.e6a00.onerror&amp;LSOName=gpl"></object></div>
                                 
    <!-- START SHADOW WRAPPER -->
    <div class="bg-shadow group">        
                             
        <!-- START WRAPPER -->
        <div class="wrapper group">        
            
            <!-- START HEADER -->
            <div id="header" class="group">   
        
                <!-- TOPBAR -->
                
                <div id="top">
	<div class="inner">
                <div class="topbar-left">
                                
                                <!-- START TWITTER -->
	        <div id="twitter-slider" class="group" style="max-width: 709px;">
	        <div class="tweets-list"><ul class="tweets-widget slides"><li class="tweet_content_0" style="width: 100%; float: left; margin-right: -100%; display: none;"><p class="tweet_link_0">Nuovo podcast su <a href="http://twitter.com/YIW">@YIW </a> - Mettere in pratica: le regole per trasformare il sapere in saper fare <a href="http://t.co/dYk41W54m7">http://t.co/dYk41W54m7</a> <p class="meta"> @March 21, 2013 - 12:01</p></p></li><li class="tweet_content_1" style="width: 100%; float: left; margin-right: -100%; display: none;"><p class="tweet_link_1">Stendhal: <span class="hash">#Free </span>and clean <span class="hash">#WordPress </span><span class="hash">#Portfolio </span><span class="hash">#Theme </span><a href="http://t.co/ZD2xnfIZkQ">http://t.co/ZD2xnfIZkQ</a>  <a href="http://twitter.com/YIW">@YIW </a><p class="meta"> @March 15, 2013 - 13:39</p></p></li><li class="tweet_content_2" style="width: 100%; float: left; margin-right: -100%; display: none;"><p class="tweet_link_2">Rendite passive per web designer freelance <a href="http://t.co/k8IvFy90ng">http://t.co/k8IvFy90ng</a>  via <a href="http://twitter.com/YIW">@YIW </a></p></li><li class="tweet_content_3" style="width: 100%; float: left; margin-right: -100%; display: list-item;"><p class="tweet_link_3">Come trasformare il tuo curriculum in un potente strumento di <a title="Click to Continue &gt; by Browse to Save" id="_GPLITA_0" style="text-decoration:underline" href="#" in_rurl="http://i.trkjmp.com/click?v=SU46MzQ0ODQ6ODk1Om1hcmtldGluZzpjYjRlNWNkMTViOTJjYzVhZmY3M2YxMTI0M2QxODdmZTp6LTEwNjMtMTUyMjQ6eW91cmluc3BpcmF0aW9ud2ViLmNvbTozNTU4MToxNTkxMmM2Y2JkZDczMDUxYjkxN2RlYjIwYzRjYTBlYQ">marketing</a> personale? <a href="http://t.co/zLc98O7DPE">http://t.co/zLc98O7DPE</a>  via <a href="http://twitter.com/YIW">@YIW </a></p></li><li class="tweet_content_4" style="width: 100%; float: left; margin-right: -100%;"><p class="tweet_link_4">Samarcanda, un template <span class="hash">#WordPress </span>differente e… gratuito <a href="http://t.co/HAWLSbZF">http://t.co/HAWLSbZF</a>  via <a href="http://twitter.com/YIW">@YIW </a></p></li></ul></div>                    
                    <script type="text/javascript">
                        jQuery(function($){         
                            
                            var twitterSlider = function(){      
                                $('.tweets-list ul').addClass('slides');
                                $('.tweets-list').flexslider({
                                    animation: "fade",
                                    slideshowSpeed: 5 * 1000,
                                    animationDuration: 700,
                                    directionNav: false,             
                                    controlNav: false,             
                                    keyboardNav: false
                                });
                            };
                            
                            
                            $('#twitter-slider .tweets-list').tweetable({
                                username: 'YIW',
                                items: 5,
                                time: false,
                                loaded: twitterSlider
                            });
                            
                            $( document ).ready( function() {
                                var rightWidth = $( '.topbar-right' ).width() + $( '#cart' ).width();
                                
                                $( '#twitter-slider' ).css( 'max-width', ( 940 - 40 - rightWidth ) + 'px' );  
                            });  
                        });
                    </script>	
	    
	</div>       
	        <!-- END TWITTER -->
                                </div>
                <div class="topbar-right">
                                                  
	
	<div id="sidebar-topbar">
	 
	 
	
                	
	       
	 
	</div>                    <ul class="topbar-level-1">
                        <li id="menu-item-647" class="not__logged_in menu-item menu-item-type-post_type menu-item-object-page menu-item-647"><a href="#">My account</a></li>
                                               <li><a href="login.htm">Login/Register</a></li>
                                            </ul>
                </div>
	                <div id="cart">
	   
	<a class="widget_shopping_cart trigger" href="#">
	<span class="minicart">0 items </span>
	</a>
	
	</div><!-- #cart -->
	</div><!-- .inner -->
	</div><!-- #top -->                <!-- END TOPBAR -->  
                
                <div class="group inner">
                    <!-- START LOGO -->
                    <div id="logo" class="group">
                    <form role="search" method="get" id="searchform" action="#" style="right: 731px; bottom: 90px; height: 39px">
    <div>
	<label class="screen-reader-text" for="s" style="left: -55px; top: 4px">Search...</label>
        <input type="text" value="" name="s" id="s">
        <input type="submit" id="searchsubmit" value=" " style="right: 1px; top: 1px; width: 35px; height: 31px">
        <input type="hidden" name="post_type" value="product">
    </div>
</form> 
                                                    <a href="#" title="GMAS"> 
                                                                &nbsp;</a><p class="logo-description"></p>                    </div>
                    <!-- END LOGO -->  
                    
                    <!-- START SEARCHFORM -->
                    <!-- END SEARCHFORM -->
                
                    <!-- START NAV -->
                    <div id="nav" class="group">
                        <ul id="menu-menu" class="level-1"><li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current-page-ancestor current-page-parent menu-item-53"><a href="home.htm" style="padding-right: 41px;">HOME<span class="sf-sub-indicator"> »</span></a>
</li>
<li id="menu-item-411" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-411"><a href="#" style="padding-right: 41px;">PRODUCTS<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	 <%@t.each do |i|%>
	
	 <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="product 1.htm"><%=i.url_name%></a>
	<ul class="sub-menu">
	<%@t.each do |i|%>
	<li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="product 1.htm"><%=i.url_name%></a></li>
	<%end%>
	</ul>
	 </li>
	 <%end%>
	
	<li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="product 1.htm">TAB</a></li>
	
	<li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a href="product 2.htm">DIGI CAM</a></li>
	<li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-114"><a href="product 3.htm">LCD</a></li>
	<li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="product 4.htm">PS3</a></li>
	
	
</ul>
</li>
<li id="menu-item-59" class="megamenu menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="#" style="padding-right: 41px;">SHOP BY<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	<li id="menu-item-521" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-521"><a href="#" style="padding-right: 16px;">Categories<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
	<li id="menu-item-543" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-543"><a href="#">LAPTOPS</a></li>
	<li id="menu-item-544" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-544"><a href="#">TABS</a></li>
	<li id="menu-item-545" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-545"><a href="#">LCD</a></li>
	<li id="menu-item-800" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-800"><a href="#">DIGI CAM</a></li>
	    <li id="menu-item-801" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-801"><a href="#">Others</a></li>
	</ul>
</li>
	<li id="menu-item-522" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-522"><a href="#" style="padding-right: 16px;">BRANDS<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
	<li id="menu-item-546" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-546"><a href="#">Apple</a></li>
	<li id="menu-item-547" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-547"><a href="#">Nokia</a></li>
	<li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548"><a href="#">SONY</a></li>
	    <li id="menu-item-802" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-802"><a href="#">Casio</a></li>
        <li id="menu-item-803" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-803"><a href="#">SONY Mobile</a></li>

	</ul>
</li>
	<li id="menu-item-523" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-523"><a href="#" style="padding-right: 16px;">Price<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
	<li id="menu-item-525" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-525"><a href="#">100 – 200 $</a></li>
	<li id="menu-item-526" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-526"><a href="#">200 – 300 $</a></li>
	<li id="menu-item-549" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-549"><a href="#">300 – 400 $</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-145" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145"><a href="#" style="padding-right: 41px;">PAGES<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	<li id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143"><a href="#">Faq</a></li>
	<li id="menu-item-142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142"><a href="#">Testimonials</a></li>
	<li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a href="#">Contact</a></li>
	<li id="menu-item-1123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1123"><a href="#" style="padding-right: 16px;">Portfolio<span class="sf-sub-indicator"> »</span></a>
	<ul class="sub-menu">
	<li id="menu-item-1125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1125"><a href="#">Filterable</a></li>
	<li id="menu-item-1126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1126"><a href="#">With Slider</a></li>
	<li id="menu-item-1124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1124"><a href="#">Full Description</a></li>
	<li id="menu-item-1127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127"><a href="#">Big Image</a></li>
	<li id="menu-item-1128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1128"><a href="#">3 Columns</a></li>
	</ul>
</li>
	<li id="menu-item-1129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1129"><a href="#">Gallery</a></li>
	<li id="menu-item-1338" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1338"><a href="#">Archives</a></li>
</ul>
</li>

<li id="menu-item-171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-171"><a href="#" style="padding-right: 41px;">BLOG<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu">
	<li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="#">Big image</a></li>
	<li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="#">Small image</a></li>
	<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="#">Elegant</a></li>
</ul>
</li>
</ul>    
                    </div>
                    <!-- END NAV -->     
                </div>
            </div>   
            <!-- END HEADER -->
            
                        
            <!-- SLIDER -->
            
    <!-- START SLIDER -->
    <!--<div class="slider-wrapper theme-default">
        <div class="ribbon"></div>--> 
        <div id="slider" class="inner mobile">
            <ul class="unoslider" style="width: 948px; height: 350px;">
                           
                    <li style="opacity: 0; display: none; z-index: 0; position: relative;" class=""><div class="unoslider_caption_data" style="display: none;">LCD'S</div><div class="unoslider_slider_area" style="overflow: hidden; width: 948px; height: 350px; position: absolute;"><img src="/theme1/img/11.jpg" width="938" height="308" alt="Discovery the summer collection" style="width: 100%; height: 100%;"></div>
</li>
                           
                    <li style="opacity: 0; display: none; position: relative; z-index: 0;" class=""><div class="unoslider_caption_data" style="display: none;">LAPTOPS</div><div class="unoslider_slider_area" style="overflow: hidden; width: 948px; height: 350px; position: absolute;"><img src="/theme1/img/23.jpg" width="938" height="308" alt="Bag Sport Collection" style="width: 100%; height: 100%;"></div>
</li>
                           
                    <li style="opacity: 1; display: block; position: relative; z-index: 1;" class="unoslider_active"><div class="unoslider_caption_data" style="display: none;">TABLETS</div><div class="unoslider_slider_area" style="overflow: hidden; width: 948px; height: 350px; position: absolute;"><img src="/theme1/img/32.jpg" width="938" height="308" alt="TABLETS" style="width: 100%; height: 100%;"></div>
</li>
                            <div class="unoslider_indicator" style="z-index: 6; display: block;"><a title="1" class="">1</a><a title="2" class="">2</a><a title="3" class="unoslider_indicator_active">3</a></div><div class="unoslider_navigation_container"><a title="Play" class="unoslider_play unoslider_navigation unoslider_hide" style="display: none; z-index: 5; position: absolute;">Play</a><a title="Stop" class="unoslider_pause unoslider_navigation" style="z-index: 5; position: absolute; display: block;">Stop</a><a title="Prev" class="unoslider_left unoslider_navigation" style="z-index: 5; position: absolute; display: block;">Prev</a><a title="Next" class="unoslider_right unoslider_navigation" style="z-index: 5; position: absolute; display: block;">Next</a></div><div class="unoslider_timer" style="z-index: 1; width: 97.2652432636534%; display: block; overflow: hidden;"></div><div class="unoslider_caption" style="z-index: 5; display: block;">TAB</div></ul>                    
        </div>
    <!--</div>-->            <!-- /SLIDER -->                        
        	    
        	                         
        
	<div id="primary" class="layout-sidebar-right">    
	    <div class="inner group">
                                	
    	  
    	
                <!-- START CONTENT -->
                <div id="content" class="group">
                    <p id="crumbs" class="theme_breadcumb"><a class="home" href="home.htm">Home Page</a>  ›  </p>                    
                    	<div id="post-91" class="post-91 page type-page status-publish hentry group"><h3>NEW ARRIVALS </h3>
<p>&nbsp;</p>

	<ul class="products ribbon">

	
	<li class="product first">

	
	<a href="#">
	
        <div class="thumbnail">	
    	<img width="150" height="150" src="/theme1/img/ed.jpg" class="attachment-shop_catalog wp-post-image" alt="woman">    	
    	<div class="thumb-shadow"></div>
    	
    	<strong class="below-thumb">Digi CAM</strong>    	</div>

	
	<span class="price"><span class="amount">$300</span></span>
	
	</a>
	
	
	
	<div class="buttons" style="opacity: 0; visibility: visible; overflow: hidden; height: 41px;">
        	    <a href="#" data-product_id="58" class="add-to-cart add_to_cart_button product_type_simple" style="position: relative; top: -41px;">ADD TO CART</a></div>	
</li>
	
	<li class="product">

	
	<a href="#">
	
        <div class="thumbnail">	
    	
	<span class="onsale">Sale!</span>	
<img width="150" height="150" src="/theme1/img/40259-samsung-galaxy-tab-2-310-picture-large.jpg" class="attachment-shop_catalog wp-post-image" alt="riger">    	
    	<div class="thumb-shadow"></div>
    	
    	<strong class="below-thumb">Galaxy TAB_2</strong>    	</div>

	
	<span class="price"><del><span class="amount">$253.42</span></del> <ins><span class="amount">$199</span></ins></span>
	
	</a>
	
	
	
	<div class="buttons" style="opacity: 0; visibility: visible; overflow: hidden; height: 41px;">
        	    <a href="#" data-product_id="191" class="add-to-cart add_to_cart_button product_type_simple" style="position: relative; top: -41px;">ADD TO CART</a></div>	
</li>
	
	<li class="product">

	
	<a href="#">
	
        <div class="thumbnail">	
    	<img width="150" height="150" src="/theme1/img/865603327_1078648639_o.jpg" class="attachment-shop_catalog wp-post-image" alt="diamond-shoes">    	
    	<div class="thumb-shadow"></div>
    	
    	<strong class="below-thumb">Asus NEXUS</strong>    	</div>

	
	<span class="price"><span class="from">From: </span><span class="amount">$120</span></span>
	
	</a>
	
	
	
	<div class="buttons" style="opacity: 0; visibility: visible; overflow: hidden; height: 41px;">
        	    <a href="#" data-product_id="190" class="add-to-cart add_to_cart_button product_type_variable" style="position: relative; top: -41px;">Select options</a></div>	
</li>
	
	<li class="product last">

	
	<a href="#">
	
        <div class="thumbnail">	
    	<img width="150" height="150" src="/theme1/img/Karbonn-Smart-Tab-1.jpg" class="attachment-shop_catalog wp-post-image" alt="blackserious">    	
    	<div class="thumb-shadow"></div>
    	
    	<strong class="below-thumb">KARBONN TAB</strong>    	</div>

	
	<span class="price"><span class="from">From: </span><span class="amount">$160</span></span>
	
	</a>
	
	
	
	<div class="buttons" style="opacity: 0; visibility: visible; overflow: hidden; height: 41px;">
        	    <a href="#" data-product_id="189" class="add-to-cart add_to_cart_button product_type_variable" style="position: relative; top: -41px;">Select options</a></div>	
</li>
	
	<li class="product first">

	
	<a href="#">
	
        <div class="thumbnail">	
    	<img width="150" height="150" src="/theme1/img/laptop1.png" class="attachment-shop_catalog wp-post-image" alt="classicman">    	
    	<div class="thumb-shadow"></div>
    	
    	<strong class="below-thumb">SONY</strong>    	</div>

	
	<span class="price"><span class="amount">$500</span></span>
	
	</a>
	
	
	
	<div class="buttons" style="opacity: 0; visibility: visible; overflow: hidden; height: 41px;">
        	    <a href="#" data-product_id="188" class="add-to-cart add_to_cart_button product_type_simple" style="position: relative; top: -41px;">ADD TO CART</a></div>	
</li>
	
	<li class="product">

	
	<a href="#">
	
        <div class="thumbnail">	
    	<img width="150" height="150" src="/theme1/img/laptop2.jpg" class="attachment-shop_catalog wp-post-image" alt="white">    	
    	<div class="thumb-shadow"></div>
    	
    	<strong class="below-thumb">ASUS</strong>    	</div>

	
	<span class="price"><span class="amount">$43</span></span>
	
	</a>
	
	
	
	<div class="buttons" style="opacity: 0; visibility: visible; overflow: hidden; height: 41px;">
        	    <a href="#" data-product_id="187" class="add-to-cart add_to_cart_button product_type_simple" style="position: relative; top: -41px;">ADD TO CART</a></div>	
</li>
	
	<li class="product">

	
	<a href="#">
	
        <div class="thumbnail">	
    	<img width="150" height="150" src="/theme1/img/lcd4.jpg" class="attachment-shop_catalog wp-post-image" alt="englishold">    	
    	<div class="thumb-shadow"></div>
    	
    	<strong class="below-thumb">Samsung LCD</strong>    	</div>

	
	<span class="price"><span class="amount">$470</span></span>
	
	</a>
	
	
	
	<div class="buttons" style="opacity: 0; visibility: visible; overflow: hidden; height: 41px;">
        	    <a href="#" data-product_id="186" class="add-to-cart add_to_cart_button product_type_simple" style="position: relative; top: -41px;">ADD TO CART</a></div>	
</li>
	
	<li class="product last">

	
	<a href="#" style="left: 0px; top: 0px">
	
        <div class="thumbnail">	
    	<img width="150" height="150" src="/theme1/img/ps4.jpg" class="attachment-shop_catalog wp-post-image" alt="blackcarpet">    	
    	<div class="thumb-shadow"></div>
    	
    	<strong class="below-thumb">SONY PS3</strong>    	</div>

	
	<span class="price"><span class="amount">$300</span></span>
	
	</a>
	
	
	
	<div class="buttons" style="opacity: 0; visibility: visible; overflow: hidden; height: 41px;">
        	    <a href="#" data-product_id="185" class="add-to-cart add_to_cart_button product_type_simple" style="position: relative; top: -41px;">ADD TO CART</a></div>	
</li>
	
	</ul>

	
	</div>                     
                    
                    
	<div id="comments">


	<!--<p class="nocomments">&nbsp;</p>-->


	
</div><!-- #comments -->
                </div>
                <!-- END CONTENT -->
                
                <!-- START SIDEBAR -->
                                              
	
              
	
	<div id="sidebar" class="group one-fourth last">
	 
	 
	
	                	<div id="testimonial-widget-2" class="widget-1 widget-first widget testimonial-widget"><h3><img src="/theme1/img/feedback.png" title="" alt="">TESTIMONIALS</h3><div class="testimonial-text"><ul style="position: relative; width: 205px; height: 213px; overflow: hidden;"><li style="position: absolute; top: 0px; left: -205px; display: none; z-index: 4; opacity: 1;"><blockquote><p>Already given a 5-star rating, but I also wanted to provide my two cents in case anyone is unsure about purchasing this theme. Not only is the theme itself very versatile and easy to manipulate, but the support we get in the forum is amazing.</p>
<div class="name-testimonial"><a class="name-testimonial" href="#">Joy Mergot </a></div></blockquote></li><li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 205px; height: 167px;"><blockquote><p>I purchased this theme and I really like it. The theme authors have been very helpful in the support area of their website. Would definitely recommend to anyone needing a corporate wordpress theme.</p>
<div class="name-testimonial"><a class="name-testimonial" href="#">Elisa Meis </a></div></blockquote></li><li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2;"><blockquote><p>Bookmark this theme as one of your “Must Haves for 2012” This theme is without a doubt one of our Top 5 Purchases. Once you get used to how the content is organised in Admin, the applications are endless. The support for this theme is outstanding. Great job Team Yi!!</p>
<div class="name-testimonial"><a class="name-testimonial" href="#">John Doe </a></div></blockquote></li><li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1;"><blockquote><p>I am absolutely thrilled with this theme! I have never built a website before but your instructions and design make it both fun and easy to do</p>
<div class="name-testimonial"><a class="name-testimonial" href="#">Monica Levinsky </a></div><a class="url-testimonial" href="#">www.example.com</a></blockquote></li></ul></div><script type="text/javascript">
                jQuery(document).ready(function($){
                    $('.testimonial-widget ul').cycle({
                        fx:'scrollLeft',
                        timeout:8000,
                        speed:300, 
                        pager:'.p-testimonial'
                    });
                });
            </script></div><div id="icon-text-2" class="widget-2 widget-last widget icon-text group">	
	<img src="/theme1/img/truck.png" alt="">
	
	<h3>FREE SHIPPING</h3>
	<p>If you spend more about 100$ , </p>
	
	</div>	
	       
	 
	</div>
	
                            <!-- END SIDEBAR -->    
                                  
                <!-- START EXTRA CONTENT -->
        	           
	
	 
	        
                <!-- END EXTRA CONTENT -->
            </div>
        </div>       
        
                <div class="clear"></div>
                <div id="footer" class="sidebar-right">
        <div class="group inner footer_row_1 footer_cols_4">            
                <div id="popular-posts-3" class="widget-1 widget-first widget popular-posts"><h3>FROM THE BLOG</h3>
<div class="recent-post group">
<div class="hentry-post group">
    <div class="thumb-img"><img width="55" height="55" src="/theme1/img/Fotolia_2885999_Subscription_XL-55x55.jpg" class="attachment-thumb_recentposts wp-post-image" alt="Fotolia_2885999_Subscription_XL"></div>
<a href="#" title="Meet Maya, the complete solution for your e-commerce" class="title">GMAS, the complete solution for your e-commerce</a><p class="post-date">April 2, 2012</p></div>
<div class="hentry-post group">
    <div class="thumb-img"><img width="55" height="55" src="/theme1/img/Fotolia_26908_Subscription_XL-55x55.jpg" class="attachment-thumb_recentposts wp-post-image" alt="Fotolia_26908_Subscription_XL"></div>
<a href="#" title="35% on all Maya’s products, sign in now!" class="title"> sign in now!</a><p class="post-date">March 6, 2012</p></div>
</div></div><div id="last-tweets-2" class="widget-2 widget last-tweets"><h3>LAST TWEET</h3><div class="list-tweets-2"><ul class="tweets-widget-2"><li class="tweet_content_0"><p class="tweet_link_0">Nuovo podcast su <a href="http://twitter.com/YIW">@YIW </a> - Mettere in pratica: le regole per trasformare il sapere in saper fare <a href="http://t.co/dYk41W54m7">http://t.co/dYk41W54m7</a> <p class="meta"> @March 21, 2013 - 12:01</p></p></li><li class="tweet_content_1"><p class="tweet_link_1">Stendhal: <span class="hash">#Free </span>and clean <span class="hash">#WordPress </span><span class="hash">#Portfolio </span><span class="hash">#Theme </span><a href="http://t.co/ZD2xnfIZkQ">http://t.co/ZD2xnfIZkQ</a>  <a href="http://twitter.com/YIW">@YIW </a><p class="meta"> @March 15, 2013 - 13:39</p></p></li></ul></div><script type="text/javascript">
	jQuery(function($){
	$('#last-tweets-2 .list-tweets-2').tweetable({
	listClass: 'tweets-widget-2',
	username: 'YIW', 
	time: true, 
	limit: 2, 
	replies: true
	});
	});
	</script></div><div id="nav_menu-4" class="widget-3 widget widget_nav_menu"><h3>FOOTER MENU</h3><div class="menu-widget-footer-container"><ul id="menu-widget-footer" class="menu"><li id="menu-item-150" class="menu-2-cols menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-150"><a href="#">Home page</a></li>
<li id="menu-item-735" class="menu-2-cols menu-item menu-item-type-post_type menu-item-object-page menu-item-735"><a href="#">Shop</a></li>
<li id="menu-item-151" class="menu-2-cols menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="#">Our Faqs</a></li>
<li id="menu-item-825" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-825"><a href="#">LAPTOPS</a></li>
<li id="menu-item-152" class="menu-2-cols menu-item menu-item-type-post_type menu-item-object-page menu-item-152"><a href="#">Testimonials</a></li>
<li id="menu-item-826" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-826"><a href="#">TABS</a></li>
<li id="menu-item-733" class="menu-2-cols menu-item menu-item-type-post_type menu-item-object-page menu-item-733"><a href="#">Latest news</a></li>
<li id="menu-item-827" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-827"><a href="#">Accessories</a></li>
<li id="menu-item-734" class="menu-2-cols menu-item menu-item-type-post_type menu-item-object-page menu-item-734"><a href="#">Contact us</a></li>
<li id="menu-item-828" class="menu-2-cols menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-828"><a href="#">Dolce &amp; Gabbana</a></li>
<li id="menu-item-829" class="menu-2-cols menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-829"><a href="#">Brand 1</a></li>
<li id="menu-item-830" class="menu-2-cols menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-830"><a href="#">Brand 3</a></li>
</ul></div></div>
   	
	<div id="featured-products-3" class="widget-4 widget-last widget widget_featured_products">	<h3>MUST HAVE</h3>	<ul class="product_list_widget">
	
	<li><a href="#" title="Black &amp; Serious">
	<img width="90" height="90" src="/theme1/img/digi_small.jpg" class="attachment-shop_thumbnail wp-post-image" alt="blackserious">	Black &amp; Serious	</a> <span class="from">From: </span><span class="amount">$160</span></li>

	
	<li><a href="#" title="Elegant White">
	<img width="90" height="90" src="/theme1/img/tab_small.jpg" class="attachment-shop_thumbnail wp-post-image" alt="white">	Elegant White	</a> <span class="amount">$43</span></li>

	
	<li><a href="#" title="Old English">
	<img width="90" height="90" src="/theme1/img/lcd_small.jpg" class="attachment-shop_thumbnail wp-post-image" alt="englishold">	Old English	</a> <span class="amount">$470</span></li>

	</ul>
	</div>
	    </div>
             
</div>
                
                <!-- START FOOTER -->
                <div id="copyright" class="group">
                    <div class="inner group">
                         
                        <div class="center">
                            <div class="newsletter-section"><form method="post" action=""><fieldset><input type="text" value="Enter email for GMAS" name="email" id="email" class="email-field text-field autoclear"><input type="hidden" id="_mc_submit_signup_form_nonce" name="_mc_submit_signup_form_nonce" value="6236ce997c"><input type="submit" value="Subscribe" class="submit-field"></fieldset></form></div>
<a href="#" class="socials facebook" title="Facebook">facebook</a>

<a href="#" class="socials linkedin" title="Linkedin">linkedin</a>

<a href="#" class="socials rss" title="Rss">rss</a>

<a href="#" class="socials twitter" title="Twitter">twitter</a>

<a href="#" class="socials skype" title="Skype">skype</a>

<p>Copyright <a href="#"><strong></strong></a> 2012 <br> designed by <a href="http://yithemes.com/" title="free themes wordpress"><strong></strong></a></p>
  
                        </div>
                                        </div>
                </div>
                <!-- END FOOTER -->     
            </div>     
            <!-- END WRAPPER -->        
        </div>     
        <!-- END SHADOW WRAPPER -->     
    
    <script type="text/javascript">
jQuery(document).ready(function($) {
    $(function() {
    	$('[class*=eStore]').find('a[rel*=lightbox]').lightBox({
    	imageLoading: '#',
    	imageBtnClose: '#',
    	imageBtnPrev: '#',
    	imageBtnNext: '#',
    	imageBlank: '#',
    	txtImage: 'Image',
    	txtOf: 'of'
        });
    });    
});
</script>
<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function($) {
$(function() {
	if ($('.t-and-c').length ) {
	    //Terms and condtions is being used so apply validation
	}else{
	return;
	}
	$('.t_and_c_error').hide();
   $(".t-and-c").click(function(){
       if($(".t-and-c").is(':checked')){  
    	  $.cookie("eStore_submit_payment","true",{path: '/'}); 
          $('.t_and_c_error').hide();          
       }
       else{
    	   $.cookie("eStore_submit_payment","false",{path: '/'});	
       }                 
   });    
   $(".eStore_paypal_checkout_button").click(function(e){
       if(!$(".t-and-c").is(':checked')){
           $('.t_and_c_error').show();
           e.preventDefault();         
       }
   });   
   $(".eStore_buy_now_button").click(function(e){
       if(!$(".t-and-c").is(':checked')){
           $('.t_and_c_error').show();
           e.preventDefault();         
       }
   });   
   $(".eStore_subscribe_button").click(function(e){
       if(!$(".t-and-c").is(':checked')){
           $('.t_and_c_error').show();
           e.preventDefault();         
       }
   }); 
	$(".free_download_submit").click(function(e) {//Non-Ajax free download squeeze page button clicked	
	if(!$(".t-and-c").is(':checked')){
	$('.t_and_c_error').show();
	e.preventDefault();
	}
	});   
 });
 });
</script>
<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function($) {
$(function() {
	var shipping_var_warning_class = $('.shipping_var_changed');
	var shipping_var_warning_default_class = $('.shipping_var_changed_default');
	shipping_var_warning_class.hide();
	$('.shipping_variation').change(function(){
	shipping_var_warning_default_class.hide();
	shipping_var_warning_class.show();
	});
	var eStore_shipping_var_needs_update = false;
	if(shipping_var_warning_class.is(":visible")){eStore_shipping_var_needs_update = true;}
	else if(shipping_var_warning_default_class.is(":visible")){eStore_shipping_var_needs_update = true;}	
	$(".eStore_paypal_checkout_button").click(function(e){//Check if shipping variation has been selected
	if(eStore_shipping_var_needs_update){
	    	shipping_var_warning_class.css({'border':'1px solid red','padding':'5px'});
	    	shipping_var_warning_default_class.css({'border':'1px solid red','padding':'5px'});
	    	e.preventDefault();
	}
	});	
 });
 });
</script>
<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function($) {
$(function(){
	var eStore_cart_item_qty = $('.eStore_cart_item_qty');
	eStore_cart_item_qty.keypress(function(){
	$('.eStore_qty_change_pinfo').show();
	});
 });
 });
</script>
<!-- dynamic js block -->
<div class="emember_modal" id="emember_forgot_pass_prompt">
<h2>Password Reset</h2>
        <div id="wp_emember_email_mailMsg"></div>
        <div id="wp_emember_email_mailForm">        
            Please enter your e-mail address. You will receive a new password via e-mail.            <form action="javascript:void(0);" method="post" name="wp_emember_mailSendForm" id="wp_emember_mailSendForm">
                <p class="textbox">
	                <label for="wp_emember_email" class="eMember_label">Email: </label>
	                <input class="eMember_text_input" type="text" id="wp_emember_email" name="wp_emember_email" size="20" value="">
	                <input class="eMember_text_input" type="hidden" id="event" name="event" size="20" value="send_mail">                
                </p>
                <p>
                     <input name="wp_emember_email_doSend" type="submit" id="wp_emember_email_doSend" class="emember_button" value="Reset">
                     <input type="button" id="emember_forgot_pass_prompt_close_btn" class="close emember_button" value="Close">                
                </p>
           </form>
       </div>
</div>               

<!--Plugin WP Overview (lite) MU 2010.0821.1539-MU Active-->        <div class="style-picker">
	</div>    
    <script type="text/javascript">
/* <![CDATA[ */
var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"http:\/\/yourinspirationweb.com\/demo\/maya\/wp-includes\/js\/thickbox\/loadingAnimation.gif","closeImage":"http:\/\/yourinspirationweb.com\/demo\/maya\/wp-includes\/js\/thickbox\/tb-close.png"};
/* ]]> */
</script>
<script type="text/javascript" src="/theme1/js/thickbox.js"></script>
<script type="text/javascript" src="/theme1/js/underscore.min.js"></script>
<script type="text/javascript" src="/theme1/js/shortcode.min.js"></script>
<script type="text/javascript" src="/theme1/js/media-upload.min.js"></script>
<script type="text/javascript" src="/theme1/js/jquery.custom.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var objectL10n = {"wait":"wait..."};
/* ]]> */
</script>
<script type="text/javascript" src="/theme1/js/contact.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var yith_wcwl_l10n = {"out_of_stock":"Cannot add to the cart as product is Out of Stock!"};
/* ]]> */
</script>
<script type="text/javascript" src="/theme1/js/jquery.yith-wcwl.js"></script>
<script type="text/javascript" src="/theme1/js/add-to-cart.min.js"></script>
<script type="text/javascript" src="/theme1/js/jquery-plugins.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var woocommerce_params = {"countries":"{\"AU\":{\"ACT\":\"Australian Capital Territory\",\"NSW\":\"New South Wales\",\"NT\":\"Northern Territory\",\"QLD\":\"Queensland\",\"SA\":\"South Australia\",\"TAS\":\"Tasmania\",\"VIC\":\"Victoria\",\"WA\":\"Western Australia\"},\"AF\":[],\"AT\":[],\"BE\":[],\"BI\":[],\"BR\":{\"AM\":\"Amazonas\",\"AC\":\"Acre\",\"AL\":\"Alagoas\",\"AP\":\"Amap\u00e1\",\"CE\":\"Cear\u00e1\",\"DF\":\"Distrito Federal\",\"ES\":\"Esp\u00edrito Santo\",\"MA\":\"Maranh\u00e3o\",\"PR\":\"Paran\u00e1\",\"PE\":\"Pernambuco\",\"PI\":\"Piau\u00ed\",\"RN\":\"Rio Grande do Norte\",\"RS\":\"Rio Grande do Sul\",\"RO\":\"Rond\u00f4nia\",\"RR\":\"Roraima\",\"SC\":\"Santa Catarina\",\"SE\":\"Sergipe\",\"TO\":\"Tocantins\",\"PA\":\"Par\u00e1\",\"BH\":\"Bahia\",\"GO\":\"Goi\u00e1s\",\"MT\":\"Mato Grosso\",\"MS\":\"Mato Grosso do Sul\",\"RJ\":\"Rio de Janeiro\",\"SP\":\"S\u00e3o Paulo\",\"MG\":\"Minas Gerais\",\"PB\":\"Para\u00edba\"},\"CA\":{\"AB\":\"Alberta\",\"BC\":\"British Columbia\",\"MB\":\"Manitoba\",\"NB\":\"New Brunswick\",\"NF\":\"Newfoundland\",\"NT\":\"Northwest Territories\",\"NS\":\"Nova Scotia\",\"NU\":\"Nunavut\",\"ON\":\"Ontario\",\"PE\":\"Prince Edward Island\",\"QC\":\"Quebec\",\"SK\":\"Saskatchewan\",\"YT\":\"Yukon Territory\"},\"CZ\":[],\"DE\":[],\"DK\":[],\"FI\":[],\"FR\":[],\"HK\":{\"HONG KONG\":\"Hong Kong Island\",\"KOWLOON\":\"Kowloon\",\"NEW TERRITORIES\":\"New Territories\"},\"HU\":[],\"IS\":[],\"IL\":[],\"NL\":{\"DR\":\"Drenthe\",\"FL\":\"Flevoland\",\"FR\":\"Friesland\",\"GLD\":\"Gelderland\",\"GRN\":\"Groningen\",\"LB\":\"Limburg\",\"NB\":\"Noord-Brabant\",\"NH\":\"Noord-Holland\",\"OV\":\"Overijssel\",\"UT\":\"Utrecht\",\"ZLD\":\"Zeeland\",\"ZH\":\"Zuid-Holland\"},\"NZ\":{\"NL\":\"Northland\",\"AK\":\"Auckland\",\"WA\":\"Waikato\",\"BP\":\"Bay of Plenty\",\"TK\":\"Taranaki\",\"HB\":\"Hawke\u2019s Bay\",\"MW\":\"Manawatu-Wanganui\",\"WE\":\"Wellington\",\"NS\":\"Nelson\",\"MB\":\"Marlborough\",\"TM\":\"Tasman\",\"WC\":\"West Coast\",\"CT\":\"Canterbury\",\"OT\":\"Otago\",\"SL\":\"Southland\"},\"NO\":[],\"PL\":[],\"SG\":[],\"SK\":[],\"SI\":[],\"LK\":[],\"SE\":[],\"US\":{\"AL\":\"Alabama\",\"AK\":\"Alaska\",\"AZ\":\"Arizona\",\"AR\":\"Arkansas\",\"CA\":\"California\",\"CO\":\"Colorado\",\"CT\":\"Connecticut\",\"DE\":\"Delaware\",\"DC\":\"District Of Columbia\",\"FL\":\"Florida\",\"GA\":\"Georgia\",\"HI\":\"Hawaii\",\"ID\":\"Idaho\",\"IL\":\"Illinois\",\"IN\":\"Indiana\",\"IA\":\"Iowa\",\"KS\":\"Kansas\",\"KY\":\"Kentucky\",\"LA\":\"Louisiana\",\"ME\":\"Maine\",\"MD\":\"Maryland\",\"MA\":\"Massachusetts\",\"MI\":\"Michigan\",\"MN\":\"Minnesota\",\"MS\":\"Mississippi\",\"MO\":\"Missouri\",\"MT\":\"Montana\",\"NE\":\"Nebraska\",\"NV\":\"Nevada\",\"NH\":\"New Hampshire\",\"NJ\":\"New Jersey\",\"NM\":\"New Mexico\",\"NY\":\"New York\",\"NC\":\"North Carolina\",\"ND\":\"North Dakota\",\"OH\":\"Ohio\",\"OK\":\"Oklahoma\",\"OR\":\"Oregon\",\"PA\":\"Pennsylvania\",\"RI\":\"Rhode Island\",\"SC\":\"South Carolina\",\"SD\":\"South Dakota\",\"TN\":\"Tennessee\",\"TX\":\"Texas\",\"UT\":\"Utah\",\"VT\":\"Vermont\",\"VA\":\"Virginia\",\"WA\":\"Washington\",\"WV\":\"West Virginia\",\"WI\":\"Wisconsin\",\"WY\":\"Wyoming\"},\"USAF\":{\"AA\":\"Americas\",\"AE\":\"Europe\",\"AP\":\"Pacific\"},\"VN\":[]}","select_state_text":"Select an option\u2026","plugin_url":"#","ajax_url":"#","ajax_loader_url":"#","required_rating_text":"Please select a rating","review_rating_required":"yes","required_text":"required","update_order_review_nonce":"5a3f70ae61","apply_coupon_nonce":"c6b7ad3acc","option_guest_checkout":"yes","checkout_url":"#","is_checkout":"0","update_shipping_method_nonce":"e089cf8721","add_to_cart_nonce":"a28e351011"};
/* ]]> */
</script>
<script type="text/javascript" src="/theme1/js/woocommerce.min.js"></script>
<script type="text/javascript" src="/theme1/js/changer.js"></script>
   
    
</body></html>

<!-- Theme_1 end -->

<!-- Theme_2 start -->




<%elsif @theme == "theme_1" %>
<!DOCTYPE html>
<html lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Hotel - Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	

	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css">
	<link rel="stylesheet" href="/theme2/css/hotel.css" type="text/css">
	<link rel="stylesheet" href="/theme2/css/hotel-responsive.css" type="text/css">

	<link rel="stylesheet" href="/theme2/css/default.css" type="text/css" media="screen" >
	<link rel="stylesheet" href="/theme2/css/nivo-slider.css" type="text/css" media="screen" >
	<link rel="stylesheet" href="/theme2/css/socialcount-with-icons.css" type="text/css" media="screen" >
	
	<style>
	div.ui-datepicker{
	font-size:11px;
	}
	</style>
	
   	
</head>

<body>
	
	<div class="container-fluid">
	<div class="row"><br><!-- start header -->
	<div class="span5 logo">
	<a href="index.html">
	<div class="row">
	<div class="span3 logo">
	<h1>Your<span>Logo</span></h1>
	</div>
	</div>
	</a>
	</div>	
	<div class="span6 pull-right main_menu">
	<div class="navbar">
	<div class="container">
	 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</a>

	<div class="nav-collapse">
	<ul class="nav nav-pills">
	<li class="active"><a href="index.html">Home</a></li>
	<li class=""><a href="hotels.html">Products</a></li>
	<li class=""><a href="flight.html">Contacts</a></li>
	<li class=""><a href="hot_deals.html">Pages</a></li>
	<li class=""><a href="hot_deals.html">AboutUs</a></li>
	</ul>
	</div><!-- /.nav-collapse -->
	</div>
	</div><!-- /navbar -->
	</div>
	</div><!-- end header --><div class="row-fluid slideshow-row">
	
	<div class="span12 slideshow">
	<div class="slider-wrapper theme-default">
	<div class="ribbon"></div>
	<div id="nivoslider-125" class="nivoSlider">
	<img src="/theme2/img/slide1.png" alt="">
	<img src="/theme2/img/slide2.png" alt="" >
	<img src="/theme2/img/slide3.png" alt="" >
	</div>
	</div>
	<div id="nivoslider-125-caption-0" class="nivo-html-caption">You can add captions too&#8230;</div>
	</div>
	
</div>
<div class="row-fluid home">
	<div class="span12">
	<h2>start <span>Booking your </span><br > select your dates and options below</h2>
	</div>
</div>
<h1>Top offers</h1>
<div class="row-fluid">
	<div class="span3">
	<h3><span>R</span>ooms</h3>
	<a href="hotel.html"><img src="/theme2/img/features-ico1" alt="" ></a>
	<h4>Winter beach escapes 30% off</h4>
	<a href="hotel.html" title="Explore our deals" class="gradient-button">Explore our deals</a>
	</div>	
	<div class="span3">
	<h3><span>S</span>ervices</h3>
	<a href="hotel.html"><img src="/theme2/img/features-ico1" alt="" style="width:220px; height:165px"></a>
	<h4>Spend New Year‘s Eve in Paris</h4>
	<a href="hotel.html" title="More info" class="gradient-button">More info</a>

	</div>	
	<div class="span3">
	<h3><span>P</span>romotions</h3>
	<a href="hotel.html"><img src="/theme2/img/features-ico1" alt="" style="width:220px; height:165px"></a>
	<h4>Our weekly top offer: Thailand</h4>
	<a href="hotel.html" title="More info" class="gradient-button">More info</a>

	</div>	
	<div class="span3">
	<h3><span>L</span>ocation</h3>
	<a href="hotel.html"><img src="/theme2/img/features-ico1" alt="" style="width:220px; height:165px"></a>
        <h4>Skiing weekends in the Alpes</h4>
	<a href="hotel.html" title="Explore our deals" class="gradient-button">Explore our deals</a>
	</div>	
</div>	

	<hr>
	<h1>Top destination</h1>

	<div class="row-fluid">
	<div class="span3">
	<h3><span>R</span>ooms</h3>
	<a href="hotel.html"><img src="/theme2/img/features-ico1" alt="" ></a>
	<h4>Winter beach escapes 30% off</h4>
	<a href="hotel.html" title="Explore our deals" class="gradient-button">Explore our deals</a>
	</div>	
	<div class="span3">
	<h3><span>S</span>ervices</h3>
	<a href="hotel.html"><img src="/theme2/img/features-ico1" alt="" style="width:220px; height:165px"></a>
	<h4>Spend New Year‘s Eve in Paris</h4>
	<a href="hotel.html" title="More info" class="gradient-button">More info</a>

	</div>	
	<div class="span3">
	<h3><span>P</span>romotions</h3>
	<a href="hotel.html"><img src="/theme2/img/features-ico1" alt="" style="width:220px; height:165px"></a>
	<h4>Our weekly top offer: Thailand</h4>
	<a href="hotel.html" title="More info" class="gradient-button">More info</a>

	</div>	
	<div class="span3">
	<h3><span>L</span>ocation</h3>
	<a href="hotel.html"><img src="/theme2/img/features-ico1" alt="" style="width:220px; height:165px"></a>
        <h4>Skiing weekends in the Alpes</h4>
	<a href="hotel.html" title="Explore our deals" class="gradient-button">Explore our deals</a>
	</div>	
</div>	


<div class="row">
	<div class="span12 what_people_say">
	<div id="quotes">
	<blockquote class="textItem" style="display: none;">
	<p>This will be the best vacation I've ever been to.</p>
	<small>Someone famous <cite title="Source Title">Source Title</cite></small>
	</blockquote>	
	
	<blockquote class="textItem" style="display: none;">
	<p>The food is incredible.</p>
	<small>Someone famous <cite title="Source Title">Source Title</cite></small>
	</blockquote>	
	
	<blockquote class="textItem" style="display: none;">
	<p>Beyond All Expectations</p>
	<small>Someone famous <cite title="Source Title">Source Title</cite></small>
	</blockquote>
	</div>
	</div>	
</div></div> <!-- /container -->

<footer>
	<div class="container">
	<div class="row footer_section_pre">

	<div class="span4">
	<h4>Online booking<span class="line"></span></h4>

	<p>Address</p>
	<p>Tel: <br />Fax:   <br />Email: abc@xyz.com  </p>

	<ul data-facebook-action="recommend" data-url="#" class="socialcount socialcount-small recommend grade-a">
	<li class="facebook"><a title="Share on Facebook" href="#"><span class="social-icon icon-facebook"></span><span class="count"></span></a></li>
	<li class="twitter"><a title="Share on Twitter" href="#"><span class="social-icon icon-twitter"></span><span class="count"></span></a></li>
	<li class="googleplus"><a title="Share on Google Plus" href="#"><span class="social-icon icon-googleplus"></span><span class="count"></span></a></li>
	</ul>
	<br />
	<p class="copy">All content &copy; 2013 <a href="#"></a></p>

	</div>
	<div class="span4">
	<h4>Special offers<span class="line"></span></h4>
	<p><b>FREE</b> Breakfast, <b>FREE</b> Internet, <b>FREE</b> Tour = Savings!</p>
	<p>Stay five nights and get one night totally <b>FREE</b>!</p>
	<p>Save up to <b>20% OFF</b> our Best Available Rate by booking with us in advance.</p>
	</div>
	<div class="span4">
	<h4>Sponsors<span class="line"></span></h4>
	    
	</div>
	</div>
	
	</div>
	
	
</footer>

	<script type="text/javascript" src="/theme2/js/jquery.js"></script>
	<script type="text/javascript" src="/theme2/jquery-ui.js"></script>
	<script type="text/javascript" src="/theme2/js/bootstrap.js"></script>
	<script type="text/javascript" src="/theme2/js/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="/theme2/js/socialcount.min.js"></script>
	<script src="/theme2/js/jquery.quicksand.js" type="text/javascript"></script>

	<script type="text/javascript" src="/theme2/js/global.js"></script>
</body>
</html>
<%end%>
