<!DOCTYPE html>
<html>
<head>
<title>startashoppe</title>
<meta charset="utf-8" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9354081-10', 'startashoppe.com');
  ga('send', 'pageview');

</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Base scripts -->
<script type="text/javascript"> 
function disableselect(e){  
return false  
}  

function reEnable(){  
return true  
}  

//if IE4+  
document.onselectstart=new Function ("return false")  
document.oncontextmenu=new Function ("return false")  
//if NS6  
if (window.sidebar){  
document.onmousedown=disableselect  
document.onclick=reEnable  
}
</script>

<script type="text/javascript" src="/first/js/jquery.js"></script>
<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/first/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/first/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="/first/css/style.css" />

<!-- media query -->
<!-- Fonts -->
<link href="/first/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
h4{
color:#563c7d;
}
p{color:black;}
.icon-chevron-right {

margin-right: 1%;
}

</style>
</head>
<body >
<div class="main-container" id="main-container">
  <div class="main-content" style="margin-right: 20px;">
    <div class="breadcrumbs" id="breadcrumbs" style="
                    position: relative;
                    border-bottom: 1px solid #e5e5e5;
                    background-color: #563d7c;
                    min-height: 41px;
                    line-height: 40px;
                    padding: 0 12px 0 0;
                    display: block;
					width:100%;
		
                    ">
      <script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>
      <ul class="breadcrumb" style="background-color: transparent;
                        display: inline-block;
                        line-height: 24px;
                        margin: 0 22px 0 12px;
                        padding: 0;
                        font-size: 22px;
                        color: #333;
                        border-radius: 0;">
       <li>
								<i class="icon-home home-icon" style="color:white"></i>
								<a href="/" style="color:white">Home</a>
							</li>
                           
                            <li style="color:white">>></li>
        <li class="active">Terms and Conditions</li>
      </ul>
      <!-- .breadcrumb -->
    </div>
    <div class="page-content" style="background: #fff;
                    margin: 0;
                    padding: 8px 25px 23px; margin:5%">
    
      <!-- /.page-header -->
      <p>
       <h4 class="text-center" ><i class="icon-quote-left"></i>TERMS FOR HOLDING AN ONLINE STORE WITH US<i class="icon-quote-right"></i></h4>
      <div class="panel-group accordion-style1 accordion-style2">
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You must be 18 years or older to use this Service.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You must provide your full legal name, current address, a valid email address, and any other information needed in order to complete the signup process.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You are responsible for keeping your password secure. Startashoppe cannot and will not be liable for any loss or damage from your failure to maintain the security of your account and password.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You may not use the Startashoppe service for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws) as well as the laws of India.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You are responsible for all activity and content (data, graphics, photos, links) that is uploaded under your Startashoppe account.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You must not transmit any worms or viruses or any code of a destructive nature.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;A breach or violation of any of the Account Terms as determined in the sole discretion of Startashoppe will result in an immediate termination of your services.</p>
          </div>
        </div>
        <h4 class="text-center" ><i class="icon-quote-left"></i>GENERAL CONDITIONS FOR STARTASHOPPE USE<i class="icon-quote-right"></i></h4>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You must read, agree with and accept all of the terms and conditions contained in this User Agreement and the Privacy Policy before you may become a member of Startashoppe.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;We reserve the right to modify or terminate the Service for any reason, without notice at any time.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;We reserve the right to refuse service to anyone for any reason at any time.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Your use of the Service is at your sole risk. The Service is provided on an "as is" and "as available" basis without any warranty or condition, express, implied or statutory.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Startashoppe does not warrant that the service will be uninterrupted, timely, secure, or error-free.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Startashoppe does not warrant that the results that may be obtained from the use of the service will be accurate or reliable.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You understand that your Content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Startashoppe does not warrant that the quality of any products, services, information, or other material purchased or obtained by you through the Service will meet your expectations, or that any errors in the Service will be corrected.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You expressly understand and agree that Startashoppe shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;In no event shall Startashoppe or our suppliers be liable for lost profits or any special, incidental or consequential damages arising out of or in connection with our site, our services or this agreement (however arising including negligence). You agree to indemnify and hold us and (as applicable) our parent, subsidiaries, affiliates, our partners, officers, directors, agents, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your breach of this Agreement or the documents it incorporates by reference, or your violation of any law or the rights of a third party.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Technical support is only provided to paying account holders and is only available via email and if agreed upon earlier via phone and request ticketing system.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Startashoppe.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Verbal or written abuse of any kind (including threats of abuse or retribution) of any Startashoppe customer, Startashoppe employee, member, or officer will result in immediate account termination.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You must be 18 years or older to use this Service.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;We do not claim any intellectual property rights over the material you provide to the Startashoppe service.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;By uploading images and item description content to Startashoppe.in, you agree to allow other internet users to view them and you agree to allow Startashoppe to display and store them and you agree that Startashoppe can, at any time, review all the content submitted by you to its Service.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;The failure of Startashoppe to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Startashoppe and govern your use of the Service, superseding any prior agreements between you and Startashoppe (including, but not limited to, any prior versions of the Terms of Service).</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;You shall not purchase search engine or other pay per click keywords (such as Google AdWords), or domain names that use Startashoppe or Startashoppe trademarks and/or variations and misspellings thereof.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Startashoppe does not pre-screen Content and it is in their sole discretion to refuse or remove any Content that is available via the Service.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Questions about the Terms of Service should be sent to support at Startashoppe.in.</p>
          </div>
        </div>
        <h4 class="text-center" ><i class="icon-quote-left"></i>PAYMENT TERMS FOR STARTASHOPPE<i class="icon-quote-right"></i></h4>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;There are different payment term options available, and depending on the payment term decided with Startashoppe, the merchant has to pay on the pre-decided monthly, quarterly, half-yearly or yearly terms.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;The merchant has to pay with-in 7 days from the date of Invoice, or he/she risks the chance of closure/termination of the online store.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;All fees are exclusive of all state and central taxes, service, sales tax or other taxes, fees or charges now in force or enacted in the future ("Taxes").</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Startashoppe does not provide refunds.</p>
          </div>
        </div>
        <h4 class="text-center" ><i class="icon-quote-left"></i>CANCELLATION AND TERMINATION <i class="icon-quote-right"></i></h4>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Once your account is cancelled all of your Content will be immediately deleted from the Service. Since deletion of all data is final please be sure that you do in fact want to cancel your account before doing so.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;We reserve the right to modify or terminate the Startashoppe service for any reason, without notice at any time..</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Fraud: Without limiting any other remedies, Startashoppe may suspend or terminate your account if we suspect that you (by conviction, settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent activity in connection with the Site.</p>
          </div>
        </div>
        <h4 class="text-center" ><i class="icon-quote-left"></i> MODIFICATION TO THE SERVICES AND PRICES <i class="icon-quote-right"></i></h4>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Prices for using Startashoppe are subject to change upon 14 days notice from Startashoppe. Such notice may be provided at any time by posting the changes to the Startashoppe Site (Startashoppe.com) or via an announcement.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Startashoppe reserves the right at any time to time to modify or discontinue, the Service (or any part thereof) with or without notice.</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div>
            <p> <i class="icon-chevron-right smaller-80" data-icon-hide="icon-chevron-down align-top" data-icon-show="icon-chevron-right"></i>&nbsp;Startashoppe shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="main contact ">
<div class="copyright clearfix">
      <div class="container">
        <div class="pull-left">
          <p>startashoppe</p>
        </div>
        <!-- /.pull-left -->
        <div class="pull-right">
          <nav class="footer">
            <ul class="inline clearfix">
              <li><a href="about.html" style="color:white;">About us</a></li>
              <li><a href="terms.html" style="color:white;">Terms and Services</a></li>
              <li><a href="faq.html" style="color:white;">FAQs</a></li>
            </ul>
          </nav>
          <!-- /nav.footer -->
        </div>
        <!-- /.pull-right -->
      </div>
      <!-- /.container -->
    </div>
 </footer>
</body>
</html>
