<!DOCTYPE html>
<html>
<head>
<title>startashoppe</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Base scripts -->
<script type="text/javascript" src="js/jquery.js"></script>
<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/first/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/first/css/bootstrap-responsive.css" />
<style>
h4{
color:#FF8B00;
}
h2{
display: inline-block;
font-size: 58px;

font-weight: 700;
letter-spacing: -1px;
line-height: 72px;
}
hr {
border-color: #151515;
border-width: 1px 0 0;
margin-top: 50px;
width: 100%;
margin: 20px 0;
border: 0;
border-top: 1px solid #eeeeee;
border-bottom: 1px solid #ffffff;
}
p.text
{
font-family: "Open Sans", sans-serif;
letter-spacing: 1px;}
h3.text-center
{font-family: "ProximaNovaLight", arial !important;}
</style>
<!-- media query -->
<!-- Fonts -->
<link href="/first/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body >

<div class="main-container" id="main-container">

            <div class="main-content" style="margin-right: 20px;">
					<div class="breadcrumbs" id="breadcrumbs" style="
                    position: relative;
                    border-bottom: 1px solid #e5e5e5;
                    background-color: #563d7c;
                    min-height: 41px;
                    line-height: 40px;
                    padding: 0 12px 0 0;
                    display: block;
					width:100%;
		
                    ">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb" style="background-color: transparent;
                        display: inline-block;
                        line-height: 24px;
                        margin: 0 22px 0 12px;
                        padding: 0;
                        font-size: 22px;
                        color: #333;
                        border-radius: 0;">
							<li>
								<i class="icon-home home-icon" style="color:white"></i>
								<a href="index.html" style="color:white">Home</a>
							</li>
                           
                            <li style="color:white">>></li>
							<li class="active">About Us</li>
						</ul><!-- .breadcrumb -->

					</div>

					<div class="page-content" style="background: #fff;
                    margin: 0;
                    padding: 8px 25px 23px; margin:5%">
						
                        <h3 class="text-center" ><i class="icon-quote-left"></i>Startashoppe has been started by the Metawing Group.<i class="icon-quote-right"></i></h3>
                      <h5>  A BIT ABOUT METAWING</h5>
						<p class="text">
						Metawing was started in 2007 by a team of passionate individuals. In early years, it focused in diverse niche domains of Automobile, IT Security, Product Designing and Technology. After enthralling a lot of medium to big sized clients there, Metawing further spread its wings into the online commerce launching several products lately including Start A Shoppe. Today this is a highly motivated team with expertise on digital commerce, online marketing, e-commerce related modules, online customer acquisition, software development, cloud based services etc., 

We are already seen in the market as a thought leader when it comes to providing end to end solutions for managing online stores & getting customers in the online space.
</p>
<h5>A BIT ABOUT START A SHOPPE</h5>
 <p class="text">
Our Goal is pretty simple. You have an awesome product, and already know how to sell. We will help you take a bigger leap by helping you conquer the vast online space. All we do it help you with creating great looking stores online by making the technology around it as simple as it can get.
As we started building Start A Shoppe, we knew one thing, if a merchant is good at merchandising, then technology should aid you to manage all other aspects of an online store. So be good at just one thing, being a merchant.! And we will help you with the rest like uploading products, managing store design, taking payments online, viewing your orders, tracking your sales, shipping your orders etc.
<h3 class="text-center">So be the Queen of online selling and Start Your Shop today..!</h3>

						</p>
		</div>
		</div>
		</div>
</body>
</html>
