<!DOCTYPE html>
<html>
<head>
<title>pricing</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Base scripts -->
<script type="text/javascript" src="/first/js/jquery.js"></script>
<script type="text/javascript" src="/first/js/modernizr-latest.js"></script>
<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/first/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/first/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="/first/css/style.css" />
<!-- media query -->
<link rel="stylesheet" type="text/css" href="/first/css/mediaquery.css" />
<!-- Fonts -->
<link href="/first/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="home">
<div class="main-container" id="main-container">
  <div class="main-content" style="margin-right: 20px;">
    <div class="breadcrumbs" id="breadcrumbs" style="
                    position: relative;
                    border-bottom: 1px solid #e5e5e5;
                    background-color: #563d7c;
                    min-height: 41px;
                    line-height: 40px;
                    padding: 0 12px 0 0;
                    display: block;
					width:100%;
		
                    ">
      <script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>
      <ul class="breadcrumb" style="background-color: transparent;
                        display: inline-block;
                        line-height: 24px;
                        margin: 0 22px 0 12px;
                        padding: 0;
                        font-size: 22px;
                        color: #333;
                        border-radius: 0;">
       <li>
								<i class="icon-home home-icon" style="color:white"></i>
								<a href="index.html" style="color:white">Home</a>
							</li>
                           
                            <li style="color:white">>></li>
        <li class="active">Pricing</li>
      </ul>
      <!-- .breadcrumb -->
    </div>

<!-- /header.main -->
<section class="pricing bordered">
  <div class="container">
    <h1 class="hero">What does it cost</h1>
    <p class="sub-hero">Check out our pricing options below to find the package that suits you</p>
    <div class="row-fluid">
      <div class="package span3">
        <header>
          <h2>Package 1</h2>
        </header>
        <ul class="fancy-list nmp" data-icon="icon-check">
          <li>Package info 1</li>
          <li>Package info 2</li>
          <li>Package info 3</li>
          <li class="highlight">Package info 4</li>
          <li>Package info 5</li>
        </ul>
        <footer> <a href="#" class="button small">Enquire now!</a> </footer>
      </div>
      <!-- /.span3.package -->
      <div class="package span3">
        <header>
          <h2>Package 2</h2>
        </header>
        <ul class="fancy-list nmp" data-icon="icon-check">
          <li>Package info 1</li>
          <li>Package info 2</li>
          <li>Package info 3</li>
          <li class="highlight">Package info 4</li>
          <li>Package info 5</li>
        </ul>
        <footer> <a href="#" class="button small">Enquire now!</a> </footer>
      </div>
      <!-- /.span3.package -->
      <div class="package span3 recommended">
        <header>
          <h2>Package 3</h2>
        </header>
        <ul class="fancy-list nmp" data-icon="icon-check">
          <li>Package info 1</li>
          <li>Package info 2</li>
          <li>Package info 3</li>
          <li class="highlight">Package info 4</li>
          <li>Package info 5</li>
        </ul>
        <footer> <a href="#" class="button small">Enquire now!</a> </footer>
      </div>
      <!-- /.span3.package -->
      <div class="package span3">
        <header>
          <h2>Package 4</h2>
        </header>
        <ul class="fancy-list nmp" data-icon="icon-check">
          <li>Package info 1</li>
          <li>Package info 2</li>
          <li>Package info 3</li>
          <li class="highlight">Package info 4</li>
          <li>Package info 5</li>
        </ul>
        <footer> <a href="#" class="button small">Enquire now!</a> </footer>
      </div>
      <!-- /.span3.package -->
    </div>
    <!-- /.row-fluid -->
  </div>
  <!-- /.container -->
</section>
<!-- /.pricing -->
<footer class="contact" style="padding: 15px 0 5px;background: #563d7c;">
  <div class="container">
    <div class="copyright clearfix">
      <div class="pull-left">
        <p>startashoppe</p>
      </div>
      <!-- /.pull-left -->
      <div class="pull-right">
        <nav class="footer">
          <ul class="inline">
            <li><a href="#" style="color:white;">About us</a></li>
            <li><a href="#" style="color:white;">Terms and Services</a></li>
            <li><a href="#" style="color:white;">FAQs</a></li>
            <li><a href="#" style="color:white;">Help</a></li>
          </ul>
        </nav>
        <!-- /nav.footer -->
      </div>
      <!-- /.pull-right -->
    </div>
    <!-- /.copyright -->
  </div>
</footer>
</div>
<!-- /footer.main -->
<script type="text/javascript" src="/first/js/bootstrap.js"></script>
<script type="text/javascript" src="/first/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/first/js/custom.js"></script>
<script type="text/javascript" src="/first/js/retina.js"></script>
<script type="text/javascript" src="/first/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/first/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/first/js/jquery.actual.js"></script>
<script type="text/javascript" src="/first/js/form.js"></script>
<script type="text/javascript">

		jQuery(document).ready(function($) {


		});

	</script>
</body>
</html>
