<html>
<head>
mailer
</head>
<body>
<!--
 <%= form_tag("/c_shop/test/", :method=>"put") do %>

       
 <label class="control-label" for="email">Email</label>

        <%=text_field_tag 'email', nil, :placeholder => 'Email'%>
           <%= submit_tag("submit", :value => "submit", :class => "btn btn-primary") %>
<%end%>
-->
jsdgfhsdgfhsdgfhsfshhfjgjgvhghjsfbhsfghjsf
hjsg fsbfhsgfhsdbfhmsbfms
hjsgdhfgsdhfgb
<%=debug(session[:master_user_id])%>
</body>

</html>
