<script >
function myFunction15()
	{
		if ($('#subcategory_id option:selected').text()=="Select a Subcategory"){
		document.getElementById('testing9').innerHTML = 'Please select a sub category' 
		$('#subcategory_id').focus();
		}
		else
		{
		document.getElementById('testing9').innerHTML = '' 
		}
	}
	</script>
	

<label class="control-label">
                            Select Sub Category
                            <span class="required">*</span>
                            </label>
<%= select_tag "subcategory_id", options_for_select(@sub.collect{ |u| [u.sub_category_name, u.sub_category_id] }), :prompt => "Select a Subcategory",:onblur=>'myFunction15()',:required=>true,:data => { :remote => true, :url => url_for(:controller => "admin_home",  :action => "inventory",:filter =>"product") }%><p id="testing9" style="color:red;"></p>
