

 

	<link href="/adminhome/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="/adminhome/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="/adminhome/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

        <link href="/adminhome/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>

		<script>

		$(function ()

		{ $("#email").popover();

		});

		$(function ()

		{ $("#test1").popover();

		});

		$(function ()

		{ $("#test2").popover();

		});

		$(function ()

		{ $("#test3").popover();

		});

		$(function ()

		{ $("#test4").popover();

		});

		$(function ()

		{ $("#test5").popover();

		});

		$(function ()

		{ $("#test6").popover();

		});

		$(function ()

		{ $("#test7").popover();

		});





		</script>	

            <div class="page-container" >

                <!-- BEGIN SIDEBAR -->

                <div class="page-sidebar nav-collapse in collapse" >

                    <!-- BEGIN SIDEBAR MENU -->        

                    <ul class="page-sidebar-menu">

                        <li>

                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

                        </li>

                        <li>

                            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

                            <form class="sidebar-search">

                             

                             </form>

                            <!-- END RESPONSIVE QUICK SEARCH FORM -->

                        </li>

                        <li class="start active ">

                            <a href="adminhome.html">

                            <i class="icon-home"></i> 

                            <span class="title">Dashboard</span>

                            <span class="selected"></span>

                            </a>

                        </li>



                        <li class="">

                            <a href="javascript:;">

                            <i class="icon-cogs"></i>							

                            <span class="title">Category</span>

							&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;

							

							<span  id="email"  rel="popover" data-content=" Here You can view all categories, sub categories for your products. you can also edit/add existing categories and subcategories"><img src="/first/img/1381837136_support-px-png.png" alt="help" width="10%"></span>



                            <span class="arrow "></span>

                            </a>

			

                            <ul class="sub-menu">

                                <li >

                                    <a href="add_category.html">

                                    <i class="icon-plus"></i> 

                                    Product Category</a>

                                </li>

                                <li >

                                    <a href="add_category.html">

                                    <i class="icon-plus"></i> 

                                     Sub Category</a>

                                </li>

								<li >

                                    <a href="category_detail.html">

                                    

                                    View all category</a>

                                </li>

                            </ul>

                        </li>

                        <li class="">

                                <a href="javascript:;">

                                <i class="icon-bookmark-empty"></i> 

                                    <span class="title">Product</span>

									&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;

									<span  id="test1"  rel="popover" data-content=" Here You can view all existing products and modify/add/delete products as you wish "><img src="/first/img/1381837136_support-px-png.png" alt="help" width="10%"></span>



								<span class="arrow "></span>

                                    </a>

                                    <ul class="sub-menu">						

                                        <li >

                                        <a href="add_product.html">

                                        Add Product</a>

                                        </li>

                                        <li >

                                       

										<a href="/admin_home/product_view"> View all Products

										<span  id="test6"  rel="popover" data-content=" This will lead you to see all product of your shop at once. "><img src="/first/img/1381837136_support-px-png.png" alt="help" width="10%"></span>

										</a> 

										

                                        </li>

										

							

                                    </ul>

                        </li>

                        <li class="">

                            <a href="javascript:;">

                            <i class="icon-bookmark-empty"></i> 

                            <span class="title">Orders</span>

                            	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;

							<span  id="test2"  rel="popover" data-content="You can view all orders, New orders unfullfilled orders and all relevent status about orders placed on your site please pay special attention to unfullfilled orders alse make sure to close an order when shipment to user is confirmed."><img src="/first/img/1381837136_support-px-png.png" alt="help" width="10%"></span>



							<span class="arrow "></span>

                            </a>

                                <ul class="sub-menu">						

                                    <li >

                                        <a href="/admin_home/order">

                                        Order Management</a>

                                    </li>							

                                </ul>

                        </li>

						<li class="">

                            <a href="javascript:;">

                            <i class="icon-bookmark-empty"></i> 

                            <span class="title">Messages</span>

                            	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;

							<span  id="test7"  rel="popover" data-content="You can view all orders, New orders unfullfilled orders and all relevent status about orders placed on your site please pay special attention to unfullfilled orders alse make sure to close an order when shipment to user is confirmed."><img src="/first/img/1381837136_support-px-png.png" alt="help" width="10%"></span>



							<span class="arrow "></span>

                            </a>

                                <ul class="sub-menu">						

                                    <li >

                                        <a href="/admin_home/message">

                                        Message Management</a>

                                    </li>							

                                </ul>

                        </li>

                        <li class="">

                        <a href="javascript:;">

                        <i class="icon-bookmark-empty"></i> 

                            <span class="title">Customers</span>

							&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;

                            <span  id="test3"  rel="popover" data-content="Click to view details of your customer and another handy information about them."><img src="/first/img/1381837136_support-px-png.png" alt="help" width="10%"></span>



							<span class="arrow "></span>

                            </a>

                                <ul class="sub-menu">						

                                    <li >

                                    <a href="customer_detail.html">

                                    View all customers</a>

                                    </li>							

                                </ul>

                        </li>

                    <li class="">

                            <a href="javascript:;">

                            <i class="icon-bookmark-empty"></i> 

                            <span class="title">UI Features</span>

							&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;

                            <span  id="test4"  rel="popover" data-content="Click to edit/modify the way your site looks."><img src="/first/img/1381837136_support-px-png.png" alt="help" width="10%"></span>



                            <span class="arrow "></span>

                            </a>

                            <ul class="sub-menu">

                                <li >

                                 <%=link_to "Edit Mode", :controller =>  "c_shop", :action => "edit_mode_theme", :id => @profile, :method => :post, :name => "edit", :th => session[:theme]%>



                                </li>

                                

                            </ul>

                    </li>

					<li class="">

                            <a href="javascript:;">

                            <i class="icon-bookmark-empty"></i> 

                            <span class="title">Shop Details</span>

                            &ensp;&ensp;&ensp;&ensp;&ensp;

                            <span  id="test5"  rel="popover" data-content="Click to view and edit your shop details "><img src="/first/img/1381837136_support-px-png.png" alt="help" width="10%"></span>



							<span class="arrow "></span>

                            </a>

                            <ul class="sub-menu">

                                <li >

                                    <a href="/admin_home/basic_details">

									<i class="icon-plus"></i>

                                   Edit Shop Details </a>

                                </li> 

								

								

                                 

                                

                            </ul>

                    </li>

                    

                    <li class="">

                            <a href="javascript:;">

                            <i class="icon-bookmark-empty"></i> 

                            <span class="title">Analytics & Reports</span>

                            

                            <span  id="test5"  rel="popover" data-content="Click to view diffrent reports about sales,stock orders etc"><img src="/first/img/1381837136_support-px-png.png" alt="help" width="10%"></span>



							<span class="arrow "></span>

                            </a>

                            <ul class="sub-menu">

                                <li >

                                    <a href="inventory.html">

                                    Google Analytics</a>

                                </li> 

								<li >

                                    <a href="/admin_home/inventory">

                                    Inventory Status/Stock Status</a>

                                </li> 

								<li >

                                    <a href="/admin_home/sales">

                                    Sales Report</a>

                                </li>

								 

								

                                 

                                

                            </ul>

                    </li>

			<!-- END SIDEBAR MENU -->

                </div>

		<!-- END SIDEBAR -->

		</div>



       

	<script src="/adminhome/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="/adminhome/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> 

<script src="/adminhome/js/bootstrap.min.js" type="text/javascript"></script>

	<script src="/adminhome/js/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>    

 	<script src="/adminhome/js/jquery.slimscroll.min.js" type="text/javascript"></script>



	<!-- BEGIN PAGE LEVEL SCRIPTS-->

	<script src="/adminhome/js/app.js" type="text/javascript"></script>

	<!-- END PAGE LEVEL SCRIPTS -->

	



			

<script>

		jQuery(document).ready(function() {    

		   App.init(); // initlayout and core plugins

		   

		});

	</script> 
