<div class="heading_featured" >
<fieldset style="height: 35px; background-color: #FF0040;color: #FFFFFF;padding-top:10px">
<div align="center">
<font size="5">
<p class="flash-msg">
  404 ERROR PAGE  </p>
<%=request.domain%> 
 </font>
  </div>
  </fieldset>
  </div>  
