<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> </head>
  <body>
<h1>Subscriptionr mail </h1>

<h2>contact Detail: </h2>
<h3>Name = </h3><%= @name%>
<h3>Address = </h3><%= @address%>
<h3>Email =</h3> <%= @email%>
<h3>Phone = </h3><%= @phone%>




</body>
</html>
